# 1.0 Data Cleaning Walkthrough

In [0]:
from google.colab import files
uploaded = files.upload()
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving ap_2010.csv to ap_2010.csv
Saving class_size.csv to class_size.csv
Saving demographics.csv to demographics.csv
Saving graduation.csv to graduation.csv
Saving hs_directory.csv to hs_directory.csv
Saving sat_results.csv to sat_results.csv
Saving survey_all.txt to survey_all.txt
Saving survey_d75.txt to survey_d75.txt
User uploaded file "ap_2010.csv" with length 11734 bytes
User uploaded file "class_size.csv" with length 2501522 bytes
User uploaded file "demographics.csv" with length 1578546 bytes
User uploaded file "graduation.csv" with length 3145877 bytes
User uploaded file "hs_directory.csv" with length 1342523 bytes
User uploaded file "sat_results.csv" with length 28339 bytes
User uploaded file "survey_all.txt" with length 8431567 bytes
User uploaded file "survey_d75.txt" with length 292057 bytes

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

## 1.1 Introduction

At many points in your career, you'll need to be able to build complete, end-to-end data science projects on your own. **Data science projects usually consist of one of two things:**

- An exploration and analysis of a set of data. One example might involve analyzing donors to political campaigns, creating a plot, and then sharing an analysis of the plot with others.
- An operational system that generates predictions based on data that updates continually. An algorithm that pulls in daily stock ticker data and predicts which stock prices will rise and fall would be one example.

You'll find the ability to create data science projects useful in several different contexts:

- Projects will help you build a portfolio, which is critical to finding a job as a data analyst or scientist.
- Working on projects will help you learn new skills and reinforce existing concepts.
- Most "real-world" data science and analysis work consists of developing internal projects.
- Projects allow you to investigate interesting phenomena and satisfy your curiosity.

Whether you aim to become a data scientist or analyst or you're just curious about the world, building projects can be immensely rewarding.

**In this section, we'll walk through the first part of a complete data science project, including how to acquire the raw data.** The project will focus on exploring and analyzing a data set. We'll develop our **data cleaning** and **storytelling skills**, which will enable us to build complete projects on our own.

We'll focus **primarily on data exploration** in this section. We'll also combine several messy data sets into a single clean one to make analysis easier. Over the next few missions, we'll work through the rest of our project and perform the actual analysis.

**The first step in creating a project is to decide on a topic**. You want the topic to be something you're interested in and motivated to explore. It's very obvious when people are making projects just to make them, rather than out of a genuine interest in the topic.

Here are two ways to go about finding a good topic:

- Think about what sectors or angles you're really interested in, then find data sets relating to those sectors.
- Review several data sets, and find one that seems interesting enough to explore.

Whichever approach you take, you can start your search at these sites:

- [Data.gov](https://www.data.gov/) - A directory of government data downloads
- [/r/datasets](https://reddit.com/r/datasets) - A subreddit that has hundreds of interesting data sets
- [Awesome datasets](https://github.com/caesar0301/awesome-public-datasets) - A list of data sets hosted on GitHub
- [rs.io](http://rs.io/100-interesting-data-sets-for-statistics/) - A great blog post with hundreds of interesting data sets
In real-world data science, you may not find an ideal data set. You might have to aggregate disparate data sources instead, or do a good amount of data cleaning.

For the purposes of this project, we'll be using data about New York City public schools, which can be found [here](https://data.cityofnewyork.us/browse?category=Education).

## 1.2 Finding All of the Relevant Data Sets

Once you've chosen a topic, you'll want to pick an angle to investigate. It's important to choose an angle that has enough depth to analyze, but isn't so complicated that it's difficult to get started. You want to finish the project, and you want your results to be interesting to others.

One of the most controversial issues in the U.S. educational system is the efficacy of standardized tests, and whether they're unfair to certain groups. Given our prior knowledge of this topic, investigating the correlations between [SAT scores](https://en.wikipedia.org/wiki/SAT) and demographics might be an interesting angle to take. We could correlate SAT scores with factors like race, gender, income, and more.

The SAT, or Scholastic Aptitude Test, is an exam that U.S. high school students take before applying to college. Colleges take the test scores into account when deciding who to admit, so it's fairly important to perform well on it.

The test consists of three sections, each of which has 800 possible points. The combined score is out of 2,400 possible points (while this number has changed a few times, the data set for our project is based on 2,400 total points). **Organizations often rank high schools by their average SAT scores.** The scores are also considered a measure of overall school district quality.

New York City makes its data on [high school SAT scores](https://data.cityofnewyork.us/Education/SAT-Results/f9bf-2cp4) available online, as well as the [demographics for each high school](https://data.cityofnewyork.us/Education/DOE-High-School-Directory-2014-2015/n3p6-zve2). The first few rows of the SAT data look like this:

<left><img width="600" src="https://drive.google.com/uc?export=view&id=1_1f_s0jbjSH1YeWs-W3Ioy8mqDqaYYNb"></left>

Unfortunately, combining both of the data sets won't give us all of the demographic information we want to use. We'll need to supplement our data with other sources to do our full analysis.

The same website has several related data sets covering demographic information and test scores. Here are the links to all of the data sets we'll be using:

- [SAT scores by school](https://data.cityofnewyork.us/Education/SAT-Results/f9bf-2cp4) - SAT scores for each high school in New York City
- [School attendance](https://data.cityofnewyork.us/Education/School-Attendance-and-Enrollment-Statistics-by-Dis/7z8d-msnt) - Attendance information for each school in New York City
- [Class size](https://data.cityofnewyork.us/Education/2010-2011-Class-Size-School-level-detail/urz7-pzb3) - Information on class size for each school
- [AP test results](https://data.cityofnewyork.us/Education/AP-College-Board-2010-School-Level-Results/itfs-ms3e) - Advanced Placement (AP) exam results for each high school (passing an optional AP exam in a particular subject can earn a student college credit in that subject)
- [Graduation outcomes](https://data.cityofnewyork.us/Education/Graduation-Outcomes-Classes-Of-2005-2010-School-Le/vh2h-md7a) - The percentage of students who graduated, and other outcome information
- [Demographics](https://data.cityofnewyork.us/Education/School-Demographics-and-Accountability-Snapshot-20/ihfw-zy9j) - Demographic information for each school
- [School survey](https://data.cityofnewyork.us/Education/NYC-School-Survey-2011/mnz3-dyi8) - Surveys of parents, teachers, and students at each school
All of these data sets are interrelated. We'll need to combine them into a single data set before we can find correlations.

## 1.3 Finding Background Information

Before we move into coding, we'll need to do some background research. A thorough understanding of the data will help us avoid costly mistakes, such as thinking that a column represents something other than what it does. Background research will also give us a better understanding of how to combine and analyze the data.

In this case, we'll want to research:

- [New York City](https://en.wikipedia.org/wiki/New_York_City)
- [The SAT](https://en.wikipedia.org/wiki/SAT)
- [Schools in New York City](https://en.wikipedia.org/wiki/List_of_high_schools_in_New_York_City)
- [Our data](https://data.cityofnewyork.us/browse?category=Education)

We can learn a few different things from these resources. For example:

- Only high school students take the SAT, so we'll want to focus on high schools.
- New York City is made up of five boroughs, which are essentially distinct regions.
- New York City schools fall within several different school districts, each of which can contains dozens of schools.
- Our data sets include several different types of schools. We'll need to clean them so that we can focus on high schools only.
- Each school in New York City has a unique code called a **DBN**, or district borough number.
- Aggregating data by district will allow us to use the district mapping data to plot district-by-district differences.

## 1.4 Reading in the Data

Once we've done our background research, we're ready to read in the data. For your convenience, we've placed all the data into the schools folder. Here are all of the files in the folder:

- **ap_2010.csv** - [Data on AP test results](https://data.cityofnewyork.us/Education/AP-College-Board-2010-School-Level-Results/itfs-ms3e)
- **class_size.csv** - Data on [class size](https://data.cityofnewyork.us/Education/2010-2011-Class-Size-School-level-detail/urz7-pzb3)
- **demographics.csv** - Data on [demographics](https://data.cityofnewyork.us/Education/School-Demographics-and-Accountability-Snapshot-20/ihfw-zy9j)
- **graduation.csv** - Data on [graduation outcomes](https://data.cityofnewyork.us/Education/Graduation-Outcomes-Classes-Of-2005-2010-School-Le/vh2h-md7a)
- **hs_directory.csv** - [A directory of high schools](https://data.cityofnewyork.us/Education/DOE-High-School-Directory-2014-2015/n3p6-zve2)
- **sat_results.csv** - Data on [SAT scores](https://data.cityofnewyork.us/Education/SAT-Results/f9bf-2cp4)
- **survey_all.txt** - Data on [surveys](https://data.cityofnewyork.us/Education/NYC-School-Survey-2011/mnz3-dyi8) from all schools
- **survey_d75.txt** - Data on surveys from New York City district 75

**survey_all.txt** and **survey_d75.txt** are in more complicated formats than the other files. For now, we'll focus on reading in the - CSV files only, and then explore them.

We'll read each file into a [pandas dataframe](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html), and then store all of the dataframes in a dictionary. This will give us a convenient way to store them, and a quick way to reference them later on.

**Exercise**

<left><img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ"></left>

- Read each of the files in the list **data_files** into a pandas dataframe using the **pandas.read_csv()** function.
- Recall that all of the data sets are in the **datasets** folder. That means the path to **ap_2010.csv** is **datasets/ap_2010.csv**.
- Add each of the dataframes to the **dictionary data**, using the base of **filename as the key**. For example, you'd enter **ap_2010** for the file **ap_2010.csv.**
- Afterwards, **data** should have the following keys:
    - **ap_2010**
    - **class_size**
    - **demographics**
    - **graduation**
    - **hs_directory**
    - **sat_results**
- In addition, each key in **data** should have the corresponding dataframe as its value.

In [0]:
# put your code here

import pandas as pd
data_files = [
    "ap_2010.csv",
    "class_size.csv",
    "demographics.csv",
    "graduation.csv",
    "hs_directory.csv",
    "sat_results.csv"
]

data = {}

for files in data_files:
  d = pd.read_csv("{0}".format(files))
  key_name = files.replace(".csv","")
  data[key_name] = d
  print(d.shape)

(258, 5)
(27611, 16)
(10075, 38)
(25096, 23)
(435, 64)
(478, 6)

## 1.5 Exploring the SAT Data

What we're mainly interested in is the SAT data set, which corresponds to the dictionary key **sat_results**. This data set contains the **SAT scores** for each high school in New York City. We eventually want to correlate selected information from this data set with information in the other data sets.

Let's explore **sat_results** to see what we can discover. Exploring the dataframe will help us understand the structure of the data, and make it easier for us to analyze it.

**Exercise**

<left><img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ"></left>

- Display the first five rows of the SAT scores data.
    - Use the key **sat_results** to access the SAT scores dataframe stored in the dictionary **data.**
    - Use the **pandas.DataFrame.head()** method along with the **print()** function to display the first five rows of the dataframe.

In [0]:
# put your code here
data['sat_results']
print(data['sat_results'].head())

      DBN                                    SCHOOL NAME  \
0  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M448            UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
2  01M450                     EAST SIDE COMMUNITY SCHOOL
3  01M458                      FORSYTH SATELLITE ACADEMY
4  01M509                        MARTA VALLE HIGH SCHOOL

  Num of SAT Test Takers SAT Critical Reading Avg. Score SAT Math Avg. Score  \
0                     29                             355                 404
1                     91                             383                 423
2                     70                             377                 402
3                      7                             414                 401
4                     44                             390                 433

  SAT Writing Avg. Score
0                    363
1                    366
2                    370
3                    359
4                    384

## 1.6 Exploring the Remaining Data

When we printed the first five rows of the SAT data, the output looked like this:

```python
DBN                                    SCHOOL NAME  \
0  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M448            UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
2  01M450                     EAST SIDE COMMUNITY SCHOOL
3  01M458                      FORSYTH SATELLITE ACADEMY
4  01M509                        MARTA VALLE HIGH SCHOOL

  Num of SAT Test Takers SAT Critical Reading Avg. Score SAT Math Avg. Score  \
0                     29                             355                 404
1                     91                             383                 423
2                     70                             377                 402
3                      7                             414                 401
4                     44                             390                 433

  SAT Writing Avg. Score
0                    363
1                    366
2                    370
3                    359
4                    384
```

We can make a few observations based on this output:

- The **DBN** appears to be a unique ID for each school.
- We can tell from the first few rows of names that we only have data about high schools.
- There's only a single row for each high school, so each **DBN** is unique in the SAT data.
- We may eventually want to combine the three columns that contain SAT scores -- **SAT Critical Reading Avg.**, **Score SAT Math Avg. Score**, and **SAT Writing Avg. Score** -- into a single column to make the scores easier to analyze.
Given these observations, let's explore the other data sets to see if we can gain any insight into how to combine them.

**Exercise**

<left><img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ"></left>

- Loop through each **key** in **data**. For each key:
    - Display the first five rows of the dataframe associated with the **key**.

In [0]:
# put your code here

In [0]:
for ii in data.keys():
  print(data[ii].head())

      DBN                             SchoolName AP Test Takers   \
0  01M448           UNIVERSITY NEIGHBORHOOD H.S.              39
1  01M450                 EAST SIDE COMMUNITY HS              19
2  01M515                    LOWER EASTSIDE PREP              24
3  01M539         NEW EXPLORATIONS SCI,TECH,MATH             255
4  02M296  High School of Hospitality Management               s

  Total Exams Taken Number of Exams with scores 3 4 or 5
0                49                                   10
1                21                                    s
2                26                                   24
3               377                                  191
4                 s                                    s
   CSD BOROUGH SCHOOL CODE                SCHOOL NAME GRADE  PROGRAM TYPE  \
0    1       M        M015  P.S. 015 Roberto Clemente     0K       GEN ED
1    1       M        M015  P.S. 015 Roberto Clemente     0K          CTT
2    1       M        M015  P.S. 015 Roberto Clemente     01       GEN ED
3    1       M        M015  P.S. 015 Roberto Clemente     01          CTT
4    1       M        M015  P.S. 015 Roberto Clemente     02       GEN ED

  CORE SUBJECT (MS CORE and 9-12 ONLY) CORE COURSE (MS CORE and 9-12 ONLY)  \
0                                    -                                   -
1                                    -                                   -
2                                    -                                   -
3                                    -                                   -
4                                    -                                   -

  SERVICE CATEGORY(K-9* ONLY)  NUMBER OF STUDENTS / SEATS FILLED  \
0                           -                               19.0
1                           -                               21.0
2                           -                               17.0
3                           -                               17.0
4                           -                               15.0

   NUMBER OF SECTIONS  AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  \
0                 1.0                19.0                    19.0
1                 1.0                21.0                    21.0
2                 1.0                17.0                    17.0
3                 1.0                17.0                    17.0
4                 1.0                15.0                    15.0

   SIZE OF LARGEST CLASS DATA SOURCE  SCHOOLWIDE PUPIL-TEACHER RATIO
0                   19.0         ATS                             NaN
1                   21.0         ATS                             NaN
2                   17.0         ATS                             NaN
3                   17.0         ATS                             NaN
4                   15.0         ATS                             NaN
      DBN                       Name  schoolyear fl_percent  frl_percent  \
0  01M015  P.S. 015 ROBERTO CLEMENTE    20052006       89.4          NaN
1  01M015  P.S. 015 ROBERTO CLEMENTE    20062007       89.4          NaN
2  01M015  P.S. 015 ROBERTO CLEMENTE    20072008       89.4          NaN
3  01M015  P.S. 015 ROBERTO CLEMENTE    20082009       89.4          NaN
4  01M015  P.S. 015 ROBERTO CLEMENTE    20092010                    96.5

   total_enrollment prek   k grade1 grade2    ...     black_num black_per  \
0               281   15  36     40     33    ...            74      26.3
1               243   15  29     39     38    ...            68      28.0
2               261   18  43     39     36    ...            77      29.5
3               252   17  37     44     32    ...            75      29.8
4               208   16  40     28     32    ...            67      32.2

  hispanic_num hispanic_per white_num white_per male_num male_per female_num  \
0          189         67.3         5       1.8    158.0     56.2      123.0
1          153         63.0         4       1.6    140.0     57.6      103.0
2          157         60.2         7       2.7    143.0     54.8      118.0
3          149         59.1         7       2.8    149.0     59.1      103.0
4          118         56.7         6       2.9    124.0     59.6       84.0

  female_per
0       43.8
1       42.4
2       45.2
3       40.9
4       40.4

[5 rows x 38 columns]
    Demographic     DBN                            School Name    Cohort  \
0  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2003
1  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2004
2  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2005
3  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2006
4  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL  2006 Aug

   Total Cohort Total Grads - n Total Grads - % of cohort Total Regents - n  \
0             5               s                         s                 s
1            55              37                      67.3                17
2            64              43                      67.2                27
3            78              43                      55.1                36
4            78              44                      56.4                37

  Total Regents - % of cohort Total Regents - % of grads  \
0                           s                          s
1                        30.9                       45.9
2                        42.2                       62.8
3                        46.2                       83.7
4                        47.4                       84.1

             ...            Regents w/o Advanced - n  \
0            ...                                   s
1            ...                                  17
2            ...                                  27
3            ...                                  36
4            ...                                  37

  Regents w/o Advanced - % of cohort Regents w/o Advanced - % of grads  \
0                                  s                                 s
1                               30.9                              45.9
2                               42.2                              62.8
3                               46.2                              83.7
4                               47.4                              84.1

  Local - n Local - % of cohort  Local - % of grads Still Enrolled - n  \
0         s                   s                   s                  s
1        20                36.4                54.1                 15
2        16                  25  37.200000000000003                  9
3         7                   9                16.3                 16
4         7                   9                15.9                 15

  Still Enrolled - % of cohort Dropped Out - n Dropped Out - % of cohort
0                            s               s                         s
1                         27.3               3                       5.5
2                         14.1               9                      14.1
3                         20.5              11                      14.1
4                         19.2              11                      14.1

[5 rows x 23 columns]
      dbn                                        school_name    borough  \
0  17K548                Brooklyn School for Music & Theatre   Brooklyn
1  09X543                   High School for Violin and Dance      Bronx
2  09X327        Comprehensive Model School Project M.S. 327      Bronx
3  02M280     Manhattan Early College School for Advertising  Manhattan
4  28Q680  Queens Gateway to Health Sciences Secondary Sc...     Queens

  building_code    phone_number    fax_number  grade_span_min  grade_span_max  \
0          K440    718-230-6250  718-230-6262             9.0              12
1          X400    718-842-0687  718-589-9849             9.0              12
2          X240    718-294-8111  718-294-8109             6.0              12
3          M520  718-935-3477             NaN             9.0              10
4          Q695    718-969-3155  718-969-3552             6.0              12

   expgrade_span_min  expgrade_span_max  \
0                NaN                NaN
1                NaN                NaN
2                NaN                NaN
3                9.0               14.0
4                NaN                NaN

                         ...                         priority08 priority09  \
0                        ...                                NaN        NaN
1                        ...                                NaN        NaN
2                        ...                                NaN        NaN
3                        ...                                NaN        NaN
4                        ...                                NaN        NaN

  priority10                                         Location 1  \
0        NaN  883 Classon Avenue\nBrooklyn, NY 11225\n(40.67...
1        NaN  1110 Boston Road\nBronx, NY 10456\n(40.8276026...
2        NaN  1501 Jerome Avenue\nBronx, NY 10452\n(40.84241...
3        NaN  411 Pearl Street\nNew York, NY 10038\n(40.7106...
4        NaN  160 20 Goethals Avenue\nJamaica, NY 11432\n(40...

  Community Board  Council District Census Tract        BIN           BBL  \
0             9.0              35.0        213.0  3029686.0  3.011870e+09
1             3.0              16.0        135.0  2004526.0  2.026340e+09
2             4.0              14.0        209.0  2008336.0  2.028590e+09
3             1.0               1.0         29.0  1001388.0  1.001130e+09
4             8.0              24.0       1267.0  4539721.0  4.068580e+09

                                                 NTA
0  Crown Heights South                           ...
1  Morrisania-Melrose                            ...
2  West Concourse                                ...
3  Chinatown                                     ...
4  Pomonok-Flushing Heights-Hillcrest            ...

[5 rows x 64 columns]
      DBN                                    SCHOOL NAME  \
0  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M448            UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
2  01M450                     EAST SIDE COMMUNITY SCHOOL
3  01M458                      FORSYTH SATELLITE ACADEMY
4  01M509                        MARTA VALLE HIGH SCHOOL

  Num of SAT Test Takers SAT Critical Reading Avg. Score SAT Math Avg. Score  \
0                     29                             355                 404
1                     91                             383                 423
2                     70                             377                 402
3                      7                             414                 401
4                     44                             390                 433

  SAT Writing Avg. Score
0                    363
1                    366
2                    370
3                    359
4                    384

## 1.7 Reading in the Survey Data


We can make some observations based on the first few rows of each one.

- Each data set appears to either have a **DBN** column, or the information we need to create one. That means we can use a **DBN** column to combine the data sets. First we'll pinpoint matching rows from different data sets by looking for identical **DBNs**, then group all of their columns together in a single data set.
- Some fields look interesting for mapping -- particularly **Location 1**, which contains coordinates inside a larger string.
- Some of the data sets appear to contain multiple rows for each school (because the rows have duplicate **DBN** values). That means we’ll have to do some preprocessing to ensure that each **DBN** is unique within each data set. If we don't do this, we'll run into problems when we combine the data sets, because we might be merging two rows in one data set with one row in another data set.

Before we proceed with the merge, we should make sure we have all of the data we want to unify. We mentioned the survey data earlier (**survey_all.txt** and **survey_d75.txt**), but we didn't read those files in because they're in a slightly more complex format.

Each survey text file looks like this:

```python
dbn bn  schoolname  d75 studentssurveyed    highschool  schooltype  rr_s
"01M015"    "M015"  "P.S. 015 Roberto Clemente" 0   "No"    0   "Elementary School"     88
```

The files are tab delimited and encoded with **Windows-1252** encoding. An encoding defines how a computer stores the contents of a file in binary. The most common encodings are **UTF-8** and **ASCII**. **Windows-1252** is rarely used, and can cause errors if we read such a file in without specifying the encoding. If you'd like to read more about encodings, [here's](http://kunststube.net/encoding/) a good primer.

We'll need to specify the encoding and delimiter to the pandas [pandas.read_csv()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) function to ensure it reads the surveys in properly.

After we read in the survey data, we'll want to combine it into a single dataframe. We can do this by calling the [pandas.concat()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html) function:

```python
z = pd.concat([x,y], axis=0)
```

The code above will combine dataframes x and y by essentially appending y to the end of x. The combined dataframe z will have the number of rows in x plus the number of rows in y.

## 1.8 Reading in the Survey Data

**Exercise**

<left><img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ"></left>

- Read in **survey_all.txt.**
    - Use the **pandas.read_csv()** function to read **survey_all.txt** into the variable **all_survey**. Recall that this file is located in the **datasets** folder.
    - Specify the keyword argument **delimiter="\t".**
    - Specify the keyword argument **encoding="windows-1252".**
- Read in **survey_d75.txt.**
    - Use the **pandas.read_csv()** function to read **datasets/survey_d75.txt** into the variable **d75_survey**. Recall that this file is located in the **datasets** folder.
    - Specify the keyword argument **delimiter="\t".**
    - Specify the keyword argument **encoding="windows-1252".**
- Combine **d75_survey** and **all_survey** into a single dataframe.
    - Use the pandas [concat()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html) function with the keyword argument **axis=0** to combine **d75_survey** and **all_survey** into the dataframe **survey**.
    - Pass in **all_survey** first, then **d75_survey** when calling the **pandas.concat()** function.
- Display the first five rows of **survey** using the **pandas.DataFrame.head()** function.

In [0]:
# put your code here
all_survey = pd.read_csv("survey_all.txt",delimiter="\t",encoding="windows-1252")
d75_survey = pd.read_csv("survey_d75.txt",delimiter="\t",encoding="windows-1252")
survey = pd.concat([all_survey,d75_survey],axis=0)
survey.head()

,N_p,N_s,N_t,aca_p_11,aca_s_11,aca_t_11,aca_tot_11,bn,com_p_11,com_s_11,...,t_q8c_1,t_q8c_2,t_q8c_3,t_q8c_4,t_q9,t_q9_1,t_q9_2,t_q9_3,t_q9_4,t_q9_5
0,90.0,NaN,22.0,7.8,NaN,7.9,7.9,M015,7.6,NaN,...,29.0,67.0,5.0,0.0,NaN,5.0,14.0,52.0,24.0,5.0
1,161.0,NaN,34.0,7.8,NaN,9.1,8.4,M019,7.6,NaN,...,74.0,21.0,6.0,0.0,NaN,3.0,6.0,3.0,78.0,9.0
2,367.0,NaN,42.0,8.6,NaN,7.5,8.0,M020,8.3,NaN,...,33.0,35.0,20.0,13.0,NaN,3.0,5.0,16.0,70.0,5.0
3,151.0,145.0,29.0,8.5,7.4,7.8,7.9,M034,8.2,5.9,...,21.0,45.0,28.0,7.0,NaN,0.0,18.0,32.0,39.0,11.0
4,90.0,NaN,23.0,7.9,NaN,8.1,8.0,M063,7.9,NaN,...,59.0,36.0,5.0,0.0,NaN,10.0,5.0,10.0,60.0,15.0

## 1.9 Cleaning Up the Surveys

In the last step, the expected output was:

```python
    N_p  N_s  N_t  aca_p_11  aca_s_11  aca_t_11  aca_tot_11    bn  com_p_11  \
0   90  NaN   22       7.8       NaN       7.9         7.9  M015       7.6   
1  161  NaN   34       7.8       NaN       9.1         8.4  M019       7.6
```

There are two immediate facts that we can see in the data:

- There are over **2000** columns, nearly all of which we don't need. We'll have to filter the data to remove the unnecessary ones. Working with fewer columns will make it easier to print the dataframe out and find correlations within it.
- The survey data has a **dbn** column that we'll want to convert to uppercase (**DBN**). The conversion will make the column name consistent with the other data sets.

First, we'll need filter the columns to remove the ones we don't need. Luckily, there's a data dictionary at the [original data download](https://data.cityofnewyork.us/Education/NYC-School-Survey-2011/mnz3-dyi8) location. The dictionary tells us what each column represents. Based on our knowledge of the problem and the analysis we're trying to do, we can use the data dictionary to determine which columns to use.

Here's a preview of the data dictionary:


<left><img width="800" src="https://drive.google.com/uc?export=view&id=145GxwJiDOodRgyXfV15ybUBqfbDLFwEU"></left>


Based on the dictionary, it looks like these are the relevant columns:

```python
["dbn", "rr_s", "rr_t", "rr_p", "N_s", "N_t", "N_p", "saf_p_11", "com_p_11", 
 "eng_p_11", "aca_p_11", "saf_t_11", "com_t_11", "eng_t_11", 
 "aca_t_11", "saf_s_11", "com_s_11", "eng_s_11", "aca_s_11",
 "saf_tot_11", "com_tot_11", "eng_tot_11", "aca_tot_11"]
```

These columns will give us aggregate survey data about how parents, teachers, and students feel about school safety, academic performance, and more. It will also give us the **DBN**, which allows us to uniquely identify the school.

Before we filter columns out, we'll want to copy the data from the **dbn** column into a new column called **DBN**. We can copy columns like this:

```python
survey["new_column"] = survey["old_column"]
```

**Exercise**

<left><img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ"></left>

- Copy the data from the **dbn** column of **survey** into a new column in **survey** called **DBN**.
- Filter **survey** so it only contains the columns we listed above. You can do this using **pandas.DataFrame.loc[]**.
    - Remember that we renamed **dbn** to **DBN**; be sure to change the list of columns we want to keep accordingly.
- Assign the dataframe **survey** to the key **survey** in the dictionary **data**.
- When you're finished, the value in **data["survey"]** should be a dataframe with 23 columns and 1702 rows.

In [0]:
# put your code here
survey["DBN"] = survey["dbn"]
survey = survey.filter(items=["DBN", "rr_s", "rr_t", "rr_p", "N_s", "N_t", "N_p", "saf_p_11", "com_p_11", 
 "eng_p_11", "aca_p_11", "saf_t_11", "com_t_11", "eng_t_11", 
 "aca_t_11", "saf_s_11", "com_s_11", "eng_s_11", "aca_s_11",
 "saf_tot_11", "com_tot_11", "eng_tot_11", "aca_tot_11"])
survey

,DBN,rr_s,rr_t,rr_p,N_s,N_t,N_p,saf_p_11,com_p_11,eng_p_11,...,eng_t_11,aca_t_11,saf_s_11,com_s_11,eng_s_11,aca_s_11,saf_tot_11,com_tot_11,eng_tot_11,aca_tot_11
0,01M015,NaN,88,60,NaN,22.0,90.0,8.5,7.6,7.5,...,7.6,7.9,NaN,NaN,NaN,NaN,8.0,7.7,7.5,7.9
1,01M019,NaN,100,60,NaN,34.0,161.0,8.4,7.6,7.6,...,8.9,9.1,NaN,NaN,NaN,NaN,8.5,8.1,8.2,8.4
2,01M020,NaN,88,73,NaN,42.0,367.0,8.9,8.3,8.3,...,6.8,7.5,NaN,NaN,NaN,NaN,8.2,7.3,7.5,8.0
3,01M034,89.0,73,50,145.0,29.0,151.0,8.8,8.2,8.0,...,6.8,7.8,6.2,5.9,6.5,7.4,7.3,6.7,7.1,7.9
4,01M063,NaN,100,60,NaN,23.0,90.0,8.7,7.9,8.1,...,7.8,8.1,NaN,NaN,NaN,NaN,8.5,7.6,7.9,8.0
5,01M064,NaN,94,61,NaN,32.0,159.0,8.8,8.2,8.2,...,8.3,8.5,NaN,NaN,NaN,NaN,8.7,7.9,8.2,8.5
6,01M110,NaN,91,79,NaN,32.0,302.0,8.4,7.6,7.6,...,5.7,6.5,NaN,NaN,NaN,NaN,7.6,6.4,6.6,7.1
7,01M134,NaN,74,66,NaN,23.0,192.0,9.0,7.9,8.0,...,6.5,7.3,NaN,NaN,NaN,NaN,7.7,7.0,7.2,7.6
8,01M137,NaN,67,75,NaN,14.0,145.0,8.7,8.0,8.0,...,6.1,6.9,NaN,NaN,NaN,NaN,7.8,7.2,7.1,7.5
9,01M140,98.0,94,68,185.0,34.0,213.0,8.8,8.0,8.1,...,6.3,7.3,7.6,6.7,7.5,8.0,7.9,7.1,7.3,7.9
10,01M142,NaN,100,100,NaN,38.0,331.0,9.1,8.0,8.1,...,7.8,8.1,NaN,NaN,NaN,NaN,8.4,7.6,8.0,8.2
11,01M184,96.0,82,80,156.0,36.0,382.0,8.7,8.1,8.0,...,7.2,8.1,7.4,5.9,7.2,7.7,8.0,6.9,7.5,7.9
12,01M188,82.0,59,40,119.0,22.0,106.0,8.7,8.1,8.2,...,5.7,6.4,6.8,6.3,7.0,7.5,7.0,6.5,7.0,7.2
13,01M292,89.0,70,39,379.0,26.0,151.0,7.8,7.7,7.4,...,6.1,6.5,6.0,5.6,6.1,6.7,6.7,6.2,6.6,7.0
14,01M301,99.0,100,21,181.0,22.0,38.0,8.5,7.3,7.4,...,8.5,8.0,5.8,5.9,6.4,7.0,7.3,6.9,7.4,7.5
15,01M315,NaN,100,67,NaN,20.0,135.0,9.0,8.6,8.8,...,8.3,8.2,NaN,NaN,NaN,NaN,8.7,8.2,8.5,8.5
16,01M332,96.0,100,86,110.0,14.0,93.0,8.4,7.9,7.8,...,8.5,8.8,7.2,6.6,7.0,8.1,8.0,7.4,7.7,8.3
17,01M345,100.0,87,53,254.0,20.0,127.0,8.4,7.6,7.6,...,6.0,6.5,7.0,6.3,7.0,7.6,7.3,6.3,6.9,7.3
18,01M361,NaN,74,42,NaN,17.0,93.0,8.9,8.2,8.3,...,8.6,8.6,NaN,NaN,NaN,NaN,8.6,8.0,8.5,8.5
19,01M363,NaN,54,40,NaN,13.0,115.0,8.7,8.1,8.4,...,7.7,7.4,NaN,NaN,NaN,NaN,8.3,7.2,8.1,7.6
20,01M364,NaN,86,54,NaN,19.0,152.0,9.3,8.9,8.9,...,9.1,9.0,NaN,NaN,NaN,NaN,9.3,8.7,9.0,8.9
21,01M378,78.0,91,82,204.0,20.0,203.0,8.8,7.9,7.8,...,5.1,6.6,7.5,7.7,7.3,8.0,7.6,6.8,6.7,7.7
22,01M448,84.0,95,10,385.0,37.0,46.0,7.9,7.4,7.2,...,6.6,7.3,6.0,5.7,6.3,7.0,6.8,6.3,6.7,7.2
23,01M450,0.0,98,28,NaN,42.0,150.0,8.7,8.2,8.1,...,8.0,8.8,NaN,NaN,NaN,NaN,7.9,7.9,7.9,8.4
24,01M458,40.0,100,23,66.0,10.0,37.0,8.1,7.0,6.7,...,8.9,8.9,6.8,6.1,6.1,6.8,7.8,7.1,7.2,7.8
25,01M509,90.0,100,21,306.0,29.0,69.0,7.7,7.4,7.2,...,6.1,6.8,6.4,5.9,6.4,7.0,6.9,6.2,6.6,7.0
26,01M515,95.0,100,86,454.0,36.0,389.0,8.3,7.2,7.4,...,8.7,9.1,8.0,6.3,7.0,7.3,8.5,7.0,7.7,8.0
27,01M539,98.0,68,51,923.0,67.0,736.0,8.5,7.9,7.9,...,5.9,7.3,7.3,6.4,7.0,7.7,7.8,6.7,6.9,7.8
28,01M650,75.0,86,19,125.0,12.0,30.0,9.0,8.4,8.1,...,8.3,8.7,8.1,6.9,7.9,8.4,8.3,7.6,8.1,8.6
29,01M696,98.0,81,50,561.0,30.0,283.0,8.8,8.2,8.3,...,7.5,8.3,8.3,7.3,8.0,8.9,8.5,7.6,8.0,8.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26,75M811,62.0,61,54,44.0,54.0,172.0,8.8,8.4,8.1,...,7.5,7.7,7.3,6.8,7.7,8.0,7.9,7.5,7.8,7.9
27,75Q004,89.0,92,54,24.0,95.0,198.0,9.0,8.4,8.2,...,7.3,7.9,7.5,7.1,8.4,8.7,8.2,7.7,8.0,8.4
28,75Q009,57.0,61,39,51.0,59.0,163.0,8.9,8.2,7.9,...,6.7,7.0,6.3,6.0,7.4,7.7,7.5,7.1,7.3,7.6
29,75Q023,75.0,93,21,93.0,65.0,52.0,8.7,8.0,8.2,...,6.5,7.5,6.8,5.9,7.4,7.5,7.5,6.9,7.4,7.8
30,75Q075,40.0,69,28,23.0,57.0,85.0,8.7,7.7,7.5,...,6.5,7.2,7.4,6.9,8.0,8.4,7.7,7.1,7.4,7.8
31,75Q177,64.0,70,41,95.0,85.0,197.0,8.9,8.0,7.8,...,7.9,8.1,8.8,8.3,8.8,8.8,8.7,8.1,8.2,8.3
32,75Q224,97.0,75,49,62.0,75.0,205.0,9.0,8.3,8.1,...,7.4,7.9,7.7,6.8,7.8,8.0,8.2,7.6,7.8,8.1
33,75Q233,85.0,73,26,121.0,56.0,101.0,8.9,8.0,7.9,...,7.5,8.3,7.9,7.4,7.8,7.8,8.3,7.8,7.7,8.1
34,75Q255,71.0,60,48,12.0,76.0,194.0,8.9,8.2,8.0,...,7.9,7.9,7.9,6.2,7.2,7.1,8.3,7.5,7.7,7.7
35,75Q256,88.0,93,46,195.0,105.0,184.0,8.6,8.0,8.1,...,7.1,8.0,6.7,6.5,7.4,7.5,7.5,7.3,7.5,7.9
36,75Q721,90.0,77,43,195.0,61.0,172.0,8.9,8.1,7.9,...,6.6,6.9,8.3,7.5,8.1,8.1,8.1,7.4,7.5,7.7
37,75Q752,45.0,47,9,160.0,36.0,34.0,8.5,7.5,7.3,...,5.5,5.9,6.5,5.7,6.8,7.1,6.7,6.1,6.4,6.6
38,75Q811,75.0,71,34,101.0,49.0,111.0,8.8,8.0,7.9,...,7.8,8.2,8.1,7.3,8.4,8.2,8.5,7.8,8.0,8.2
39,75Q993,87.0,76,47,90.0,71.0,185.0,9.2,8.5,8.4,...,7.0,7.7,8.5,8.0,8.4,8.9,8.6,8.0,7.9,8.4
40,75R025,57.0,75,21,238.0,70.0,97.0,8.1,7.5,7.4,...,6.6,7.8,6.9,5.9,6.9,7.3,7.4,7.0,6.9,7.6
41,75R037,0.0,55,46,NaN,52.0,143.0,8.9,8.0,8.0,...,7.5,7.4,NaN,NaN,NaN,NaN,8.3,7.4,7.6,7.5
42,75R373,92.0,60,34,22.0,64.0,132.0,8.8,8.1,8.1,...,6.6,6.9,8.1,8.0,8.7,8.5,8.0,7.6,7.8,7.9
43,75R721,96.0,93,57,82.0,71.0,187.0,9.1,8.5,8.4,...,8.2,9.1,8.8,8.1,8.9,8.8,9.0,8.4,8.5,8.8
44,75X010,84.0,91,56,76.0,86.0,247.0,9.0,8.5,8.3,...,7.2,7.9,7.4,7.3,7.6,7.8,8.0,7.9,7.7,8.1
45,75X012,19.0,47,9,37.0,25.0,18.0,5.8,6.5,6.3,...,5.2,5.3,5.7,5.7,6.8,6.5,5.2,5.8,5.8,5.8
46,75X017,69.0,79,37,64.0,72.0,122.0,8.8,8.1,7.9,...,6.7,7.0,6.6,6.4,7.6,8.0,7.5,7.1,7.4,7.7
47,75X168,92.0,71,53,78.0,61.0,206.0,8.9,8.5,8.2,...,7.3,7.6,6.6,6.7,7.6,7.8,7.6,7.6,7.7,7.9
48,75X176,86.0,55,35,130.0,96.0,233.0,9.1,8.6,8.5,...,7.3,7.4,7.7,5.9,7.6,7.3,8.1,7.4,7.8,7.8
49,75X186,95.0,67,32,105.0,64.0,152.0,8.3,7.8,7.8,...,7.1,8.0,7.6,8.1,8.0,8.6,7.9,7.8,7.7,8.2
50,75X188,27.0,47,28,65.0,52.0,117.0,8.8,8.1,7.9,...,6.3,6.6,6.8,5.9,7.1,7.6,7.3,6.8,7.1,7.4
51,75X352,90.0,58,48,38.0,46.0,160.0,8.9,8.3,7.9,...,5.7,5.8,6.8,6.0,7.8,7.6,7.4,6.6,7.1,7.2
52,75X721,84.0,90,48,237.0,82.0,239.0,8.6,7.6,7.5,...,6.7,7.0,7.8,7.2,7.8,7.9,8.0,7.1,7.3,7.6
53,75X723,77.0,74,20,103.0,69.0,74.0,8.4,7.8,7.8,...,6.7,7.6,6.7,7.2,7.7,7.7,7.6,7.4,7.4,7.7
54,75X754,63.0,93,22,336.0,82.0,124.0,8.3,7.5,7.5,...,6.6,7.1,6.8,6.6,7.6,7.7,7.2,6.9,7.3,7.5
55,75X811,38.0,63,19,44.0,71.0,119.0,8.5,7.8,7.7,...,6.5,7.0,7.7,6.1,7.7,7.7,7.7,6.8,7.3,7.5

## 1.10 Inserting DBN Fields

When we explored all of the data sets, we noticed that some of them, like **class_size** and **hs_directory**, don't have a DBN column. **hs_directory** does have a **dbn** column, though, so we can just rename it.

However, **class_size** doesn't appear to have the column at all. Here are the first few rows of the data set:

```python
    CSD BOROUGH   SCHOOL CODE         SCHOOL NAME GRADE  PROGRAM TYPE  \
0    1       M        M015  P.S. 015 Roberto Clemente     0K       GEN ED
1    1       M        M015  P.S. 015 Roberto Clemente     0K          CTT
2    1       M        M015  P.S. 015 Roberto Clemente     01       GEN ED
3    1       M        M015  P.S. 015 Roberto Clemente     01          CTT
4    1       M        M015  P.S. 015 Roberto Clemente     02       GEN ED
```

Here are the first few rows of the **sat_results** data, which does have a **DBN** column:

```python
DBN                                    SCHOOL NAME  \
0  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M448            UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
2  01M450                     EAST SIDE COMMUNITY SCHOOL
3  01M458                      FORSYTH SATELLITE ACADEMY
4  01M509                        MARTA VALLE HIGH SCHOOL
```

From looking at these rows, we can tell that the **DBN** in the **sat_results** data is just a combination of the **CSD** and **SCHOOL CODE** columns in the **class_size** data. The main difference is that the **DBN** is padded, so that the **CSD** portion of it always consists of two digits. That means we'll need to add a leading 0 to the **CSD** if the **CSD** is less than two digits long. Here's a diagram illustrating what we need to do:

<center><img width="150" src="https://drive.google.com/uc?export=view&id=1k1QuSctrJnMW6gfAbTs-DJbzTe23en2U"></center>

As you can see, whenever the **CSD** is less than two digits long, we need to add a leading 0. We can accomplish this using the **pandas.Series.apply()** method, along with a custom function that:

- Takes in a number.
- Converts the number to a string using the **str()** function.
- Check the length of the string using the **len()** function.
    - If the string is two digits long, returns the string.
    - If the string is one digit long, adds a 0 to the front of the string, then returns it.
        - You can use the string method [zfill()](https://docs.python.org/3/library/stdtypes.html#str.zfill) to do this.

Once we've padded the **CSD**, we can use the addition operator (+) to combine the values in the **CSD** and **SCHOOL CODE** columns. Here's an example of how we would do this:

```python
dataframe["new_column"] = dataframe["column_one"] + dataframe["column_two"]
```

And here's a diagram illustrating the basic concept:

<center><img width="300" src="https://drive.google.com/uc?export=view&id=1Io7o-45Pixlv2tX8rTyZvL6KjIq9qMPz"></center>

## 1.11 Inserting DBN Fields

**Exercise**

<left><img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ"></left>

- Copy the **dbn** column in **hs_directory** into a new column called **DBN**.
- Create a new column called **padded_csd** in the **class_size** data set.
    - Use the [pandas.Series.apply()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.apply.html) method along with the function **pad_csd()** to generate this column.
        - Make sure to apply the function along the **data["class_size"]["CSD"]** column.
- Use the addition operator (+) along with the **padded_csd** and **SCHOOL CODE** columns of **class_size**, then assign the result to the **DBN** column of **class_size**.
- Display the first few rows of **class_size** to double check the **DBN** column.

In [0]:
# put your code here
def pad_csd(num):
    string_representation = str(num)
    if len(string_representation) > 1:
        return string_representation
    else:
        return string_representation.zfill(2)

data['hs_directory']['DBN'] = data['hs_directory']['dbn']
data["class_size"]["padded_csd"] = data["class_size"]["CSD"].apply(pad_csd)
data['class_size']['DBN'] = data['class_size']['padded_csd'] + data['class_size']['SCHOOL CODE']
data['class_size']

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO,padded_csd,DBN
0,1,M,M015,P.S. 015 Roberto Clemente,0K,GEN ED,-,-,-,19.0,1.0,19.0,19.0,19.0,ATS,NaN,01,01M015
1,1,M,M015,P.S. 015 Roberto Clemente,0K,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN,01,01M015
2,1,M,M015,P.S. 015 Roberto Clemente,01,GEN ED,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01,01M015
3,1,M,M015,P.S. 015 Roberto Clemente,01,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01,01M015
4,1,M,M015,P.S. 015 Roberto Clemente,02,GEN ED,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN,01,01M015
5,1,M,M015,P.S. 015 Roberto Clemente,02,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01,01M015
6,1,M,M015,P.S. 015 Roberto Clemente,03,GEN ED,-,-,-,12.0,1.0,12.0,12.0,12.0,ATS,NaN,01,01M015
7,1,M,M015,P.S. 015 Roberto Clemente,03,CTT,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN,01,01M015
8,1,M,M015,P.S. 015 Roberto Clemente,04,GEN ED,-,-,-,26.0,2.0,13.0,12.0,14.0,ATS,NaN,01,01M015
9,1,M,M015,P.S. 015 Roberto Clemente,05,GEN ED,-,-,-,27.0,1.0,27.0,27.0,27.0,ATS,NaN,01,01M015
10,1,M,M015,P.S. 015 Roberto Clemente,0K-09,SPEC ED,-,-,12:1:1,9.0,1.0,9.0,9.0,9.0,ATS,NaN,01,01M015
11,1,M,M015,P.S. 015 Roberto Clemente,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.4,01,01M015
12,1,M,M019,P.S. 019 Asher Levy,0K,GEN ED,-,-,-,39.0,2.0,19.5,18.0,21.0,ATS,NaN,01,01M019
13,1,M,M019,P.S. 019 Asher Levy,0K,CTT,-,-,-,12.0,1.0,12.0,12.0,12.0,ATS,NaN,01,01M019
14,1,M,M019,P.S. 019 Asher Levy,01,GEN ED,-,-,-,39.0,2.0,19.5,19.0,20.0,ATS,NaN,01,01M019
15,1,M,M019,P.S. 019 Asher Levy,01,CTT,-,-,-,13.0,1.0,13.0,13.0,13.0,ATS,NaN,01,01M019
16,1,M,M019,P.S. 019 Asher Levy,02,GEN ED,-,-,-,46.0,2.0,23.0,22.0,24.0,ATS,NaN,01,01M019
17,1,M,M019,P.S. 019 Asher Levy,03,GEN ED,-,-,-,35.0,2.0,17.5,17.0,18.0,ATS,NaN,01,01M019
18,1,M,M019,P.S. 019 Asher Levy,04,GEN ED,-,-,-,22.0,1.0,22.0,22.0,22.0,ATS,NaN,01,01M019
19,1,M,M019,P.S. 019 Asher Levy,04,CTT,-,-,-,24.0,1.0,24.0,24.0,24.0,ATS,NaN,01,01M019
20,1,M,M019,P.S. 019 Asher Levy,05,GEN ED,-,-,-,22.0,1.0,22.0,22.0,22.0,ATS,NaN,01,01M019
21,1,M,M019,P.S. 019 Asher Levy,05,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN,01,01M019
22,1,M,M019,P.S. 019 Asher Levy,0K-09,SPEC ED,-,-,12:1,7.0,1.0,7.0,7.0,7.0,ATS,NaN,01,01M019
23,1,M,M019,P.S. 019 Asher Levy,0K-09,SPEC ED,-,-,12:1:1,11.0,1.0,11.0,11.0,11.0,ATS,NaN,01,01M019
24,1,M,M019,P.S. 019 Asher Levy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,01,01M019
25,1,M,M020,P.S. 020 Anna Silver,0K,GEN ED,-,-,-,89.0,4.0,22.3,20.0,23.0,ATS,NaN,01,01M020
26,1,M,M020,P.S. 020 Anna Silver,0K,CTT,-,-,-,22.0,1.0,22.0,22.0,22.0,ATS,NaN,01,01M020
27,1,M,M020,P.S. 020 Anna Silver,01,GEN ED,-,-,-,69.0,3.0,23.0,22.0,24.0,ATS,NaN,01,01M020
28,1,M,M020,P.S. 020 Anna Silver,01,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN,01,01M020
29,1,M,M020,P.S. 020 Anna Silver,02,GEN ED,-,-,-,55.0,3.0,18.3,16.0,21.0,ATS,NaN,01,01M020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27581,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SCIENCE,Other Science,-,313.0,12.0,26.1,18.0,33.0,STARS,NaN,32,32K556
27582,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,Global History & Geography,-,289.0,11.0,26.3,15.0,34.0,STARS,NaN,32,32K556
27583,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,US History & Government,-,128.0,5.0,25.6,13.0,32.0,STARS,NaN,32,32K556
27584,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,Economics,-,59.0,2.0,29.5,26.0,33.0,STARS,NaN,32,32K556
27585,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,Participation in Government,-,63.0,2.0,31.5,30.0,33.0,STARS,NaN,32,32K556
27586,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,ENGLISH,English 9,-,14.0,1.0,14.0,14.0,14.0,STARS,NaN,32,32K556
27587,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,ENGLISH,English 10,-,11.0,1.0,11.0,11.0,11.0,STARS,NaN,32,32K556
27588,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,ENGLISH,English 11,-,10.0,1.0,10.0,10.0,10.0,STARS,NaN,32,32K556
27589,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,MATH,Integrated Algebra,-,26.0,2.0,13.0,12.0,14.0,STARS,NaN,32,32K556
27590,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,SCIENCE,Earth Science,-,22.0,2.0,11.0,11.0,11.0,STARS,NaN,32,32K556
27591,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,SCIENCE,Living Environment,-,25.0,2.0,12.5,12.0,13.0,STARS,NaN,32,32K556
27592,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,SCIENCE,Chemistry,-,22.0,2.0,11.0,11.0,11.0,STARS,NaN,32,32K556
27593,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,SOCIAL STUDIES,Global History & Geography,-,36.0,3.0,12.0,10.0,14.0,STARS,NaN,32,32K556
27594,32,K,K556,Bushwick Leaders High School for Academic Exce...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.7,32,32K556
27595,32,K,K564,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 9,-,261.0,10.0,26.1,17.0,35.0,STARS,NaN,32,32K564
27596,32,K,K564,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 10,-,102.0,4.0,25.5,17.0,30.0,STARS,NaN,32,32K564
27597,32,K,K564,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 11,-,144.0,6.0,24.0,21.0,28.0,STARS,NaN,32,32K564
27598,32,K,K564,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 12,-,132.0,5.0,26.4,19.0,29.0,STARS,NaN,32,32K564
27599,32,K,K564,Bushwick Community High School,09-12,GEN ED,MATH,Integrated Algebra,-,342.0,14.0,24.4,19.0,28.0,STARS,NaN,32,32K564
27600,32,K,K564,Bushwick Community High School,09-12,GEN ED,MATH,Math A,-,23.0,1.0,23.0,23.0,23.0,STARS,NaN,32,32K564
27601,32,K,K564,Bushwick Community High School,09-12,GEN ED,SCIENCE,Earth Science,-,24.0,2.0,12.0,12.0,12.0,STARS,NaN,32,32K564
27602,32,K,K564,Bushwick Community High School,09-12,GEN ED,SCIENCE,Living Environment,-,161.0,6.0,26.8,17.0,31.0,STARS,NaN,32,32K564
27603,32,K,K564,Bushwick Community High School,09-12,GEN ED,SCIENCE,Chemistry,-,57.0,2.0,28.5,27.0,30.0,STARS,NaN,32,32K564
27604,32,K,K564,Bushwick Community High School,09-12,GEN ED,SCIENCE,Physics,-,49.0,2.0,24.5,22.0,27.0,STARS,NaN,32,32K564
27605,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Global History & Geography,-,237.0,10.0,23.7,15.0,31.0,STARS,NaN,32,32K564
27606,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,US History & Government,-,256.0,10.0,25.6,15.0,35.0,STARS,NaN,32,32K564
27607,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Economics,-,65.0,2.0,32.5,32.0,33.0,STARS,NaN,32,32K564
27608,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Participation in Government,-,53.0,2.0,26.5,25.0,28.0,STARS,NaN,32,32K564
27609,32,K,K564,Bushwick Community High School,09-12,CTT,MATH,Integrated Algebra,-,50.0,2.0,25.0,25.0,25.0,STARS,NaN,32,32K564
27610,32,K,K564,Bushwick Community High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.1,32,32K564

## 1.12 Combining the SAT Scores

Now we're almost ready to combine our data sets. Before we do, let's take some time to calculate variables that will be useful in our analysis. We've already discussed one such variable -- a column that totals up the SAT scores for the different sections of the exam. This will make it much easier to correlate scores with demographic factors because we'll be working with a single number, rather than three different ones.

Before we can generate this column, we'll need to convert the **SAT Math Avg. Score**, **SAT Critical Reading Avg. Score**, and **SAT Writing Avg. Score** columns in the **sat_results** data set from the object (string) data type to a numeric data type. We can use the [pandas.to_numeric()](http://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.to_numeric.html) method for the conversion. If we don't convert the values, we won't be able to add the columns together.

It's important to pass the keyword argument **errors="coerce"** when we call **pandas.to_numeric()**, so that pandas treats any invalid strings it can't convert to numbers as missing values instead.

After we perform the conversion, we can use the addition operator (+) to add all three columns together.


**Exercise**

<left><img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ"></left>

- Convert the **SAT Math Avg. Score**, **SAT Critical Reading Avg. Score**, and **SAT Writing Avg. Score** columns in the **sat_results** data set from the object (string) data type to a numeric data type.
    - Use the **pandas.to_numeric()** function on each of the columns, and assign the result back to the same column.
    - Pass in the keyword argument **errors="coerce".**
- Create a column called **sat_score** in **sat_results** that holds the combined SAT score for each student.
    - Add up **SAT Math Avg. Score**, **SAT Critical Reading Avg. Score**, and **SAT Writing Avg. Score**, and assign the total to the **sat_score** column of **sat_results.**
- Display the first few rows of the **sat_score column** of **sat_results** to verify that everything went okay.

In [0]:
# put your code here
data["sat_results"]['SAT Math Avg. Score'] = pd.to_numeric(data["sat_results"]['SAT Math Avg. Score'],errors="coerce")
data["sat_results"]['SAT Critical Reading Avg. Score'] = pd.to_numeric(data["sat_results"]['SAT Critical Reading Avg. Score'],errors="coerce")
data["sat_results"]['SAT Writing Avg. Score'] = pd.to_numeric(data["sat_results"]['SAT Writing Avg. Score'],errors="coerce")
data["sat_results"]["sat_score"] = data["sat_results"]['SAT Math Avg. Score'] + data["sat_results"]['SAT Critical Reading Avg. Score'] + data["sat_results"]['SAT Writing Avg. Score']
data["sat_results"]

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,sat_score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383.0,423.0,366.0,1172.0
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0
3,01M458,FORSYTH SATELLITE ACADEMY,7,414.0,401.0,359.0,1174.0
4,01M509,MARTA VALLE HIGH SCHOOL,44,390.0,433.0,384.0,1207.0
5,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHOOL,112,332.0,557.0,316.0,1205.0
6,01M539,"NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND ...",159,522.0,574.0,525.0,1621.0
7,01M650,CASCADES HIGH SCHOOL,18,417.0,418.0,411.0,1246.0
8,01M696,BARD HIGH SCHOOL EARLY COLLEGE,130,624.0,604.0,628.0,1856.0
9,02M047,47 THE AMERICAN SIGN LANGUAGE AND ENGLISH SECO...,16,395.0,400.0,387.0,1182.0
10,02M288,FOOD AND FINANCE HIGH SCHOOL,62,409.0,393.0,392.0,1194.0
11,02M294,ESSEX STREET ACADEMY,53,394.0,384.0,378.0,1156.0
12,02M296,HIGH SCHOOL OF HOSPITALITY MANAGEMENT,58,374.0,375.0,362.0,1111.0
13,02M298,PACE HIGH SCHOOL,85,423.0,438.0,432.0,1293.0
14,02M300,URBAN ASSEMBLY SCHOOL OF DESIGN AND CONSTRUCTI...,48,404.0,449.0,416.0,1269.0
15,02M303,"FACING HISTORY SCHOOL, THE",76,353.0,358.0,340.0,1051.0
16,02M305,"URBAN ASSEMBLY ACADEMY OF GOVERNMENT AND LAW, THE",50,375.0,388.0,385.0,1148.0
17,02M308,LOWER MANHATTAN ARTS ACADEMY,40,403.0,392.0,405.0,1200.0
18,02M313,"JAMES BALDWIN SCHOOL, THE: A SCHOOL FOR EXPEDI...",69,408.0,390.0,390.0,1188.0
19,02M316,URBAN ASSEMBLY SCHOOL OF BUSINESS FOR YOUNG WO...,42,373.0,370.0,384.0,1127.0
20,02M374,GRAMERCY ARTS HIGH SCHOOL,60,391.0,391.0,394.0,1176.0
21,02M376,NYC ISCHOOL,92,473.0,483.0,479.0,1435.0
22,02M392,MANHATTAN BUSINESS ACADEMY,s,NaN,NaN,NaN,NaN
23,02M393,BUSINESS OF SPORTS SCHOOL,s,NaN,NaN,NaN,NaN
24,02M394,EMMA LAZARUS HIGH SCHOOL,79,319.0,512.0,357.0,1188.0
25,02M399,THE HIGH SCHOOL FOR LANGUAGE AND DIPLOMACY,s,NaN,NaN,NaN,NaN
26,02M400,HIGH SCHOOL FOR ENVIRONMENTAL STUDIES,263,465.0,493.0,461.0,1419.0
27,02M407,INSTITUTE FOR COLLABORATIVE EDUCATION,54,492.0,465.0,467.0,1424.0
28,02M408,PROFESSIONAL PERFORMING ARTS HIGH SCHOOL,94,509.0,490.0,523.0,1522.0
29,02M411,BARUCH COLLEGE CAMPUS HIGH SCHOOL,104,496.0,563.0,518.0,1577.0
...,...,...,...,...,...,...,...
448,30Q580,BACCALAUREATE SCHOOL FOR GLOBAL EDUCATION,61,524.0,568.0,544.0,1636.0
449,31R047,CSI HIGH SCHOOL FOR INTERNATIONAL STUDIES,137,452.0,451.0,450.0,1353.0
450,31R064,GAYNOR MCCOWN EXPEDITIONARY LEARNING SCHOOL,61,398.0,412.0,385.0,1195.0
451,31R080,THE MICHAEL J. PETRIDES SCHOOL,107,472.0,488.0,466.0,1426.0
452,31R440,NEW DORP HIGH SCHOOL,391,424.0,437.0,416.0,1277.0
453,31R445,PORT RICHMOND HIGH SCHOOL,271,424.0,438.0,417.0,1279.0
454,31R450,CURTIS HIGH SCHOOL,375,437.0,435.0,429.0,1301.0
455,31R455,TOTTENVILLE HIGH SCHOOL,807,462.0,486.0,470.0,1418.0
456,31R460,SUSAN E. WAGNER HIGH SCHOOL,535,455.0,474.0,459.0,1388.0
457,31R470,CONCORD HIGH SCHOOL,10,466.0,455.0,414.0,1335.0
458,31R600,RALPH R. MCKEE CAREER AND TECHNICAL EDUCATION ...,94,416.0,422.0,397.0,1235.0
459,31R605,STATEN ISLAND TECHNICAL HIGH SCHOOL,227,635.0,682.0,636.0,1953.0
460,31R607,YOUNG ADULT BOROUGH CENTER AT STATEN IS TECH HS,10,405.0,375.0,370.0,1150.0
461,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,50,380.0,366.0,352.0,1098.0
462,32K545,EBC HIGH SCHOOL FOR PUBLIC SERVICE–BUSHWICK,88,384.0,409.0,361.0,1154.0
463,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,75,348.0,353.0,334.0,1035.0
464,32K552,ACADEMY OF URBAN PLANNING,67,342.0,364.0,354.0,1060.0
465,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428.0,465.0,422.0,1315.0
466,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCE...,23,347.0,358.0,350.0,1055.0
467,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,24,359.0,317.0,358.0,1034.0
468,75K371,P.S. 371 s LILLIAN L. RASHKIS,s,NaN,NaN,NaN,NaN
469,75M035,P.S. 035,s,NaN,NaN,NaN,NaN
470,75Q256,P.S. Q256,s,NaN,NaN,NaN,NaN
471,75Q811,P.S. Q811,32,429.0,444.0,433.0,1306.0
472,75R025,SOUTH RICHMOND HIGH SCHOOL I.S./P.S. 25,s,NaN,NaN,NaN,NaN
473,75X012,P.S. X012 LEWIS AND CLARK SCHOOL,s,NaN,NaN,NaN,NaN
474,75X754,J. M. RAPPORT SCHOOL CAREER DEVELOPMENT,s,NaN,NaN,NaN,NaN
475,79M645,SCHOOL FOR COOPERATIVE TECHNICAL EDUCATION,s,NaN,NaN,NaN,NaN
476,79Q950,GED PLUS s CITYWIDE,8,496.0,400.0,426.0,1322.0
477,79X490,PHOENIX ACADEMY,9,367.0,370.0,360.0,1097.0

## 1.13 Parsing Geographic Coordinates for Schools

Next, we'll want to parse the **latitude** and **longitude** coordinates for each school. This will enable us to map the schools and uncover any geographic patterns in the data. The coordinates are currently in the text field **Location 1** in the **hs_directory** data set.

Let's take a look at the first few rows:

```python
0    883 Classon Avenue\nBrooklyn, NY 11225\n(40.67...
1    1110 Boston Road\nBronx, NY 10456\n(40.8276026...
2    1501 Jerome Avenue\nBronx, NY 10452\n(40.84241...
3    411 Pearl Street\nNew York, NY 10038\n(40.7106...
4    160-20 Goethals Avenue\nJamaica, NY 11432\n(40...
```        
                                               
As you can see, this field contains a lot of information we don't need. We want to extract the coordinates, which are in parentheses at the end of the field. Here's an example:

```python
1110 Boston Road\nBronx, NY 10456\n(40.8276026690005, -73.90447525699966)
```

We want to extract the **latitude**, 40.8276026690005, and the **longitude**, -73.90447525699966. Taken together, **latitude** and **longitude** make up a pair of coordinates that allows us to pinpoint any location on Earth.

We can do the extraction with a **regular expression**. The following expression will pull out everything inside the parentheses:

```python
import re
re.findall("\(.+\)", "1110 Boston Road\nBronx, NY 10456\n(40.8276026690005, -73.90447525699966)")
```

This command will return (40.8276026690005, -73.90447525699966). We'll need to process this result further using the string methods [split()](https://docs.python.org/3/library/stdtypes.html#str.split) and [replace()](https://docs.python.org/3/library/stdtypes.html#str.replace) methods to extract each coordinate.

**Exercise**

<left><img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ"></left>

- Write a function that:
    - Takes in a string
    - Uses the regular expression above to extract the coordinates
    - Uses string manipulation functions to pull out the latitude
    - Returns the latitude
- Use the [Series.apply()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.apply.html) method to apply the function across the **Location 1** column of **hs_directory**. Assign the result to the **lat** column of **hs_directory.**
- Display the first few rows of **hs_directory** to verify the results.

In [0]:
# put your code here
import re
def school_latitude(lat):
  lat = re.findall("\(.+\)", lat)
  lat = re.findall("\((.*?)\,",lat[0])
  return lat[0]

data["hs_directory"]["lat"] = data['hs_directory']['Location 1'].apply(school_latitude)
data['hs_directory']

,dbn,school_name,borough,building_code,phone_number,fax_number,grade_span_min,grade_span_max,expgrade_span_min,expgrade_span_max,...,Location 1,Community Board,Council District,Census Tract,BIN,BBL,NTA,DBN,lat,lon
0,17K548,Brooklyn School for Music & Theatre,Brooklyn,K440,718-230-6250,718-230-6262,9.0,12,NaN,NaN,...,"883 Classon Avenue\nBrooklyn, NY 11225\n(40.67...",9.0,35.0,213.0,3029686.0,3.011870e+09,Crown Heights South ...,17K548,40.67029890700047,-73.961648
1,09X543,High School for Violin and Dance,Bronx,X400,718-842-0687,718-589-9849,9.0,12,NaN,NaN,...,"1110 Boston Road\nBronx, NY 10456\n(40.8276026...",3.0,16.0,135.0,2004526.0,2.026340e+09,Morrisania-Melrose ...,09X543,40.8276026690005,-73.904475
2,09X327,Comprehensive Model School Project M.S. 327,Bronx,X240,718-294-8111,718-294-8109,6.0,12,NaN,NaN,...,"1501 Jerome Avenue\nBronx, NY 10452\n(40.84241...",4.0,14.0,209.0,2008336.0,2.028590e+09,West Concourse ...,09X327,40.842414068000494,-73.916162
3,02M280,Manhattan Early College School for Advertising,Manhattan,M520,718-935-3477,NaN,9.0,10,9.0,14.0,...,"411 Pearl Street\nNew York, NY 10038\n(40.7106...",1.0,1.0,29.0,1001388.0,1.001130e+09,Chinatown ...,02M280,40.71067947100045,-74.000807
4,28Q680,Queens Gateway to Health Sciences Secondary Sc...,Queens,Q695,718-969-3155,718-969-3552,6.0,12,NaN,NaN,...,"160 20 Goethals Avenue\nJamaica, NY 11432\n(40...",8.0,24.0,1267.0,4539721.0,4.068580e+09,Pomonok-Flushing Heights-Hillcrest ...,28Q680,40.718810094000446,-73.806500
5,08X348,Schuylerville Preparatory High School,Bronx,X405,718-904-4200,718-935-4209,9.0,11,9.0,12.0,...,"3000 East Tremont Avenue\nBronx, NY 10461\n(40...",10.0,13.0,194.0,2074045.0,2.053680e+09,Schuylerville-Throgs Neck-Edgewater Park ...,08X348,40.840513977000455,-73.838121
6,14K474,PROGRESS High School for Professional Careers,Brooklyn,K450,718-387-0228,718-782-0911,9.0,12,NaN,NaN,...,"850 Grand Street\nBrooklyn, NY 11211\n(40.7119...",1.0,34.0,485.0,3325733.0,3.030160e+09,Bushwick South ...,14K474,40.71196311300048,-73.940434
7,02M420,High School for Health Professions and Human S...,Manhattan,M475,212-780-9175,212-979-7261,9.0,12,NaN,NaN,...,"345 East 15Th Street\nNew York, NY 10003\n(40....",6.0,2.0,48.0,1020419.0,1.009220e+09,Gramercy ...,02M420,40.73248537800049,-73.983053
8,28Q350,Jamaica Gateway to the Sciences,Queens,Q470,718-480-2689,718-480-2697,9.0,12,NaN,NaN,...,"167 01 Gothic Drive\nJamaica, NY 11432\n(40.71...",8.0,24.0,452.0,4448806.0,4.098580e+09,Briarwood-Jamaica Hills ...,28Q350,40.713577459000476,-73.796518
9,29Q313,Benjamin Franklin High School for Finance & In...,Queens,Q490,718-935-3645,NaN,9.0,10,9.0,12.0,...,207 01 116th Avenue Cambria Heights\nNY 11411\...,13.0,27.0,53401.0,4238003.0,4.110490e+09,Cambria Heights ...,29Q313,40.6978073300005,-73.745858
10,12X271,East Bronx Academy for the Future,Bronx,X973,718-861-8641,718-861-8634,6.0,12,NaN,NaN,...,"1716 Southern Boulevard\nBronx, NY 10460\n(40....",3.0,17.0,161.0,2010604.0,2.029830e+09,Crotona Park East ...,12X271,40.83695342600049,-73.887962
11,02M520,Murry Bergtraum High School for Business Careers,Manhattan,M520,212-964-9610,212-732-6622,9.0,12,NaN,NaN,...,"411 Pearl Street\nNew York, NY 10038\n(40.7106...",1.0,1.0,29.0,1001388.0,1.001130e+09,Chinatown ...,02M520,40.71067947100045,-74.000807
12,06M211,Inwood Early College for Health and Informatio...,Manhattan,M052,718-935-3660,NaN,9.0,10,9.0,14.0,...,"650 Academy Street\nNew York, NY 10002\n(40.86...",12.0,10.0,291.0,1076776.0,1.022330e+09,Marble Hill-Inwood ...,06M211,40.86604554900049,-73.924857
13,24Q600,Queens Vocational and Technical High School,Queens,Q600,718-937-3010,718-392-8397,9.0,12,NaN,NaN,...,"37 02 47 Avenue\nLong Island City, NY 11101\n(...",2.0,26.0,189.0,4003259.0,4.002280e+09,Hunters Point-Sunnyside-West Maspeth ...,24Q600,40.74218869400045,-73.928243
14,10X368,In-Tech Academy (M.S. / High School 368),Bronx,X368,718-432-4300,718-432-4310,6.0,12,NaN,NaN,...,"2975 Tibbett Avenue\nBronx, NY 10463\n(40.8800...",8.0,11.0,29302.0,2112838.0,2.057161e+09,Spuyten Duyvil-Kingsbridge ...,10X368,40.88005009300048,-73.909209
15,06M348,Washington Heights Expeditionary Learning School,Manhattan,M143,212-781-0524,212-781-0742,6.0,12,NaN,12.0,...,"511 West 182Nd Street\nNew York, NY 10033\n(40...",12.0,10.0,269.0,1063703.0,1.021550e+09,Washington Heights North ...,06M348,40.84887878800049,-73.930807
16,18K629,Cultural Academy for the Arts and Sciences,Brooklyn,K415,718-968-6630,718-968-6635,9.0,12,NaN,NaN,...,"5800 Tilden Avenue\nBrooklyn, NY 11203\n(40.64...",17.0,45.0,936.0,3104598.0,3.047420e+09,Rugby-Remsen Village ...,18K629,40.64866366300049,-73.921899
17,03M299,"High School for Arts, Imagination and Inquiry",Manhattan,M490,212-799-4064,212-799-4171,9.0,12,NaN,NaN,...,"122 Amsterdam Avenue\nNew York, NY 10023\n(40....",7.0,6.0,151.0,1030343.0,1.011570e+09,Lincoln Square ...,03M299,40.77429641100048,-73.984823
18,07X520,Foreign Language Academy of Global Studies,Bronx,X155,718-585-4024,718-585-4239,9.0,12,NaN,NaN,...,"470 Jackson Avenue\nBronx, NY 10455\n(40.81113...",1.0,8.0,35.0,2003910.0,2.025780e+09,Mott Haven-Port Morris ...,07X520,40.81113885600047,-73.909787
19,08X312,Millennium Art Academy,Bronx,X450,718-824-0978,718-824-0963,9.0,12,NaN,NaN,...,"1980 Lafayette Avenue\nBronx, NY 10473\n(40.82...",9.0,18.0,16.0,2022205.0,2.036040e+09,Soundview-Castle Hill-Clason Point-Harding Par...,08X312,40.82230376500047,-73.855961
20,08X293,Renaissance High School for Musical Theater & ...,Bronx,X405,718-430-6390,718-430-6308,9.0,12,NaN,NaN,...,"3000 East Tremont Avenue\nBronx, NY 10461\n(40...",10.0,13.0,194.0,2074045.0,2.053680e+09,Schuylerville-Throgs Neck-Edgewater Park ...,08X293,40.840513977000455,-73.838121
21,13K419,"Science Skills Center High School for Science,...",Brooklyn,K805,718-243-9413,718-243-1016,9.0,12,NaN,NaN,...,"49 Flatbush Avenue Extension\nBrooklyn, NY 112...",2.0,33.0,15.0,3000216.0,3.001200e+09,DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hi...,13K419,40.69717472700046,-73.984960
22,31R460,Susan E. Wagner High School,Staten Island,R460,718-698-4200,718-698-5213,9.0,12,NaN,NaN,...,1200 Manor Road Staten Island\nNY 10314\n(40.5...,2.0,50.0,181.0,5146639.0,5.009550e+09,Todt Hill-Emerson Hill-Heartland Village-Light...,31R460,40.59865238600048,-74.123105
23,28Q328,High School for Community Leadership,Queens,Q470,718-558-9801,718-558-9807,9.0,12,NaN,NaN,...,"167 01 Gothic Drive\nJamaica, NY 11432\n(40.71...",8.0,24.0,452.0,4448806.0,4.098580e+09,Briarwood-Jamaica Hills ...,28Q328,40.713577459000476,-73.796518
24,05M362,Columbia Secondary School,Manhattan,M125,212-666-1278,212-666-3805,6.0,12,NaN,NaN,...,"425 West 123 Street\nNew York, NY 10027\n(40.8...",9.0,7.0,20901.0,1059526.0,1.019640e+09,Morningside Heights ...,05M362,40.81091785300049,-73.956927
25,10X243,West Bronx Academy for the Future,Bronx,X435,718-563-7139,718-563-7362,6.0,12,NaN,NaN,...,"500 East Fordham Road\nBronx, NY 10458\n(40.86...",6.0,15.0,387.0,2011810.0,2.030590e+09,Belmont ...,10X243,40.86001222100049,-73.888230
26,03M307,"Urban Assembly School for Media Studies, The",Manhattan,M490,212-501-1110,212-580-0156,9.0,12,NaN,NaN,...,"122 Amsterdam Avenue\nNew York, NY 10023\n(40....",7.0,6.0,151.0,1030343.0,1.011570e+09,Lincoln Square ...,03M307,40.77429641100048,-73.984823
27,20K609,Urban Assembly School for Criminal Justice,Brooklyn,K223,718-438-3893,718-438-3527,6.0,12,NaN,NaN,...,"4200 16 Avenue\nBrooklyn, NY 11204\n(40.634908...",12.0,44.0,230.0,3125676.0,3.053620e+09,Borough Park ...,20K609,40.63490809500047,-73.981519
28,28Q284,York Early College Academy,Queens,Q008,718-262-8547,718-558-4257,6.0,12,NaN,NaN,...,"108 35 167 Street\nJamaica, NY 11433\n(40.6969...",12.0,27.0,258.0,4216655.0,4.101780e+09,South Jamaica ...,28Q284,40.69693735800047,-73.786982
29,21K348,High School of Sports Management,Brooklyn,K400,718-333-7650,718-333-7675,9.0,12,NaN,NaN,...,"2630 Benson Avenue\nBrooklyn, NY 11214\n(40.59...",13.0,47.0,306.0,3186454.0,3.068830e+09,Gravesend ...,21K348,40.59359381100046,-73.984729
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,24Q264,Academy of Finance and Enterprise,Queens,Q735,718-389-3623,718-389-3724,9.0,12,NaN,NaN,...,"30 20 Thomson Avenue\nLong Island City, NY 111...",2.0,26.0,179.0,4003517.0,4.002740e+09,Hunters Point-Sunnyside-West Maspeth ...,24Q264,40.74509351900048,-73.936814
406,08X519,Felisa Rincon de Gautier Institute for Law and...,Bronx,X972,718-860-5110,718-860-5081,9.0,12,NaN,NaN,...,"1440 Story Avenue\nBronx, NY 10473\n(40.821170...",9.0,17.0,28.0,2022544.0,2.036220e+09,Soundview-Castle Hill-Clason Point-Harding Par...,08X519,40.82117077000049,-73.881136
407,02M374,Gramercy Arts High School,Manhattan,M460,212-253-7076,212-253-8095,9.0,12,NaN,NaN,...,"40 Irving Place\nNew York, NY 10003\n(40.73551...",6.0,2.0,50.0,1017828.0,1.008720e+09,Gramercy ...,02M374,40.73551946300046,-73.987604
408,17K533,School for Democracy and Leadership,Brooklyn,K470,718-771-4865,718-771-5847,6.0,12,NaN,NaN,...,"600 Kingston Avenue\nBrooklyn, NY 11203\n(40.6...",9.0,40.0,810.0,3107227.0,3.048110e+09,Prospect Lefferts Gardens-Wingate ...,17K533,40.6595170060005,-73.942546
409,26Q415,Benjamin N. Cardozo High School,Queens,Q415,718-279-6500,718-631-7880,9.0,12,NaN,NaN,...,57 00 223Rd Street Oakland Gardens\nNY 11364\n...,11.0,23.0,138501.0,4161735.0,4.075290e+09,Oakland Gardens ...,26Q415,40.75239242400045,-73.756083
410,31R455,Tottenville High School,Staten Island,R455,718-668-8800,718-317-0962,9.0,12,NaN,NaN,...,100 Luten Avenue Staten Island\nNY 10312\n(40....,3.0,51.0,198.0,5082634.0,5.066130e+09,Annadale-Huguenot-Prince's Bay-Eltingville ...,31R455,40.528228767000485,-74.192154
411,25Q263,Flushing International High School,Queens,Q189,718-463-2348,718-463-3514,9.0,12,NaN,NaN,...,"144 80 Barclay Avenue\nFlushing, NY 11355\n(40...",7.0,20.0,863.0,4114763.0,4.050510e+09,Murray Hill ...,25Q263,40.760414170000445,-73.818376
412,02M449,Vanguard High School,Manhattan,M480,212-517-5175,212-517-5334,9.0,12,NaN,NaN,...,"317 East 67 Street\nNew York, NY 10065\n(40.76...",8.0,5.0,118.0,1083343.0,1.014420e+09,Lenox Hill-Roosevelt Island ...,02M449,40.765445402000466,-73.960214
413,32K552,Academy of Urban Planning,Brooklyn,K480,718-381-7100,718-418-0314,9.0,12,NaN,NaN,...,"400 Irving Avenue\nBrooklyn, NY 11237\n(40.696...",4.0,37.0,435.0,3076908.0,3.033650e+09,Bushwick North ...,32K552,40.696961848000456,-73.910816
414,06M468,High School for Health Careers and Sciences,Manhattan,M465,212-927-1841,212-927-2179,9.0,12,NaN,NaN,...,"549 Audubon Avenue\nNew York, NY 10040\n(40.85...",12.0,10.0,277.0,1076751.0,1.021600e+09,Washington Heights North ...,06M468,40.855938307000486,-73.927030
415,30Q580,Baccalaureate School for Global Education,Queens,Q798,718-361-5275,718-361-5395,7.0,12,NaN,NaN,...,"34 12 36 Avenue\nAstoria, NY 11106\n(40.755174...",1.0,26.0,55.0,4009499.0,4.006340e+09,Queensbridge-Ravenswood-Long Island City ...,30Q580,40.75517483300047,-73.926824
416,12X684,Wings Academy,Bronx,X879,718-597-1751,718-931-8366,9.0,12,NaN,NaN,...,"1122 East 180 Street\nBronx, NY 10460\n(40.841...",6.0,15.0,220.0,2042451.0,2.040060e+09,East Tremont ...,12X684,40.84180522100047,-73.875418
417,22K405,Midwood High School,Brooklyn,K405,718-724-8500,718-724-8515,9.0,12,NaN,NaN,...,"2839 Bedford Avenue\nBrooklyn, NY 11210\n(40.6...",14.0,45.0,772.0,3205788.0,3.075530e+09,Flatbush ...,22K405,40.63333549400045,-73.952916
418,25Q670,Robert F. Kennedy Community High School,Queens,Q707,718-969-5510,718-969-5524,9.0,12,NaN,NaN,...,75 40 Parsons Boulevard Fresh Meadows\nNY 1136...,8.0,24.0,77908.0,4147452.0,4.068090e+09,Kew Gardens Hills ...,25Q670,40.72560316100049,-73.810721
419,19K618,Academy of Innovative Technology,Brooklyn,K420,718-827-2469,718-827-4013,9.0,12,NaN,NaN,...,"999 Jamaica Avenue\nBrooklyn, NY 11208\n(40.69...",5.0,37.0,1180.0,3090738.0,3.040940e+09,park-cemetery-etc-Brooklyn ...,19K618,40.69114396200047,-73.868426
420,02M298,Pace High School,Manhattan,M131,212-334-4663,212-334-4919,9.0,12,NaN,NaN,...,"100 Hester Street\nNew York, NY 10002\n(40.716...",3.0,1.0,16.0,1082489.0,1.003010e+09,Chinatown ...,02M298,40.716412393000496,-73.992676
421,08X376,Antonia Pantoja Preparatory Academy: A College...,Bronx,X450,718-824-3152,718-824-3543,6.0,12,NaN,NaN,...,"1980 Lafayette Avenue\nBronx, NY 10473\n(40.82...",9.0,18.0,16.0,2022205.0,2.036040e+09,Soundview-Castle Hill-Clason Point-Harding Par...,08X376,40.82230376500047,-73.855961
422,02M500,Unity Center for Urban Technologies,Manhattan,M620,212-576-0530,212-576-0562,9.0,12,NaN,NaN,...,"111 East 33Rd Street\nNew York, NY 10016\n(40....",5.0,2.0,72.0,1087537.0,1.008898e+09,Murray Hill-Kips Bay ...,02M500,40.746106375000466,-73.981010
423,02M507,Urban Assembly Gateway School for Technology,Manhattan,M625,212-246-1041,212-246-2654,9.0,12,NaN,NaN,...,"439 West 49Th Street\nNew York, NY 10019\n(40....",4.0,3.0,127.0,1026646.0,1.010590e+09,Clinton ...,02M507,40.763361732000476,-73.990509
424,27Q323,Scholars' Academy,Queens,Q180,718-474-6918,718-945-8958,6.0,12,NaN,NaN,...,320 Beach 104Th Street Rockaway Park\nNY 11694...,14.0,32.0,938.0,4303722.0,4.161590e+09,Breezy Point-Belle Harbor-Rockaway Park-Broad ...,27Q323,40.58413137400049,-73.825681
425,17K408,Academy of Hospitality and Tourism,Brooklyn,K465,718-564-2580,718-564-2581,9.0,12,NaN,NaN,...,"911 Flatbush Avenue\nBrooklyn, NY 11226\n(40.6...",14.0,40.0,794.0,3336215.0,3.051030e+09,Erasmus ...,17K408,40.64943967500045,-73.958431
426,12X278,Peace and Diversity Academy,Bronx,X099,718-991-1855,718-991-2998,9.0,12,NaN,NaN,...,"1180 Rev J A Polite Ave\nBronx, NY 10459\n(40....",2.0,17.0,131.0,2005276.0,2.026920e+09,Longwood ...,12X278,40.82522606000049,-73.893950
427,14K558,Williamsburg High School for Architecture and ...,Brooklyn,K650,718-388-1260,718-486-2580,9.0,12,NaN,NaN,...,"257 North 6 Street\nBrooklyn, NY 11211\n(40.71...",1.0,33.0,519.0,3062135.0,3.023300e+09,North Side-South Side ...,14K558,40.71503755100048,-73.954650
428,02M288,Food and Finance High School,Manhattan,M535,212-586-2943,212-586-4205,9.0,12,NaN,NaN,...,"525 West 50Th Street\nNew York, NY 10019\n(40....",4.0,3.0,135.0,1083802.0,1.010790e+09,Clinton ...,02M288,40.76502670800045,-73.992517
429,21K468,Kingsborough Early College School,Brooklyn,K400,718-333-7850,718-333-7875,6.0,12,NaN,NaN,...,"2630 Benson Avenue\nBrooklyn, NY 11214\n(40.59...",13.0,47.0,306.0,3186454.0,3.068830e+09,Gravesend ...,21K468,40.59359381100046,-73.984729
430,10X225,Theatre Arts Production Company School,Bronx,X137,718-584-0832,718-584-5102,6.0,12,NaN,NaN,...,"2225 Webster Avenue\nBronx, NY 10457\n(40.8546...",5.0,15.0,379.0,2013307.0,2.031430e+09,Mount Hope ...,10X225,40.85464659900049,-73.896646
431,11X508,Bronxdale High School,Bronx,X415,718-944-3655,718-944-3662,9.0,12,NaN,NaN,...,"925 Astor Avenue\nBronx, NY 10469\n(40.8596983...",11.0,13.0,324.0,2050179.0,2.043580e+09,Bronxdale ...,11X508,40.85969831600045,-73.860741
432,11X253,Bronx High School for Writing and Communicatio...,Bronx,X425,718-944-5660,718-944-5690,9.0,12,NaN,NaN,...,"800 East Gun Hill Road\nBronx, NY 10467\n(40.8...",12.0,12.0,372.0,2057045.0,2.046330e+09,Williamsbridge-Olinville ...,11X253,40.87575421100047,-73.861388
433,02M316,Urban Assembly School of Business for Young Wo...,Manhattan,M282,212-668-0169,212-668-0635,9.0,12,NaN,NaN,...,"26 Broadway\nNew York, NY 10004\n(40.705234939...",1.0,1.0,9.0,1000811.0,1.000220e+09,Battery Park City-Lower Manhattan ...,02M316,40.70523493900049,-74.013315
434,25Q525,Townsend Harris High School,Queens,Q515,718-575-5580,718-575-1366,9.0,12,NaN,NaN,...,"149 11 Melbourne Avenue\nFlushing, NY 11367\n(...",8.0,24.0,809.0,4538714.0,4.065070e+09,Kew Gardens Hills ...,25Q525,40.73440841000047,-73.821417

In [0]:
!ls

'ap_2010 (1).csv'	'graduation (1).csv'	 sat_results.csv
 ap_2010.csv		 graduation.csv		'survey_all (1).txt'
'class_size (1).csv'	'hs_directory (1).csv'	 survey_all.txt
 class_size.csv		 hs_directory.csv	'survey_d75 (1).txt'
'demographics (1).csv'	 sample_data		 survey_d75.txt
 demographics.csv	'sat_results (1).csv'

## 1.14 Extracting the Longitude

On the last screen, we parsed the **latitude** from the **Location 1** column. Now we'll just need to do the same for the longitude.

Once we have both coordinates, we'll need to convert them to numeric values. We can use the **pandas.to_numeric()** function to convert them from strings to numbers.

**Exercise**

<left><img width="100" src="https://drive.google.com/uc?export=view&id=1E8tR7B9YYUXsU_rddJAyq0FrM0MSelxZ"></left>

- Write a function that:
    - Takes in a string.
    - Uses the regular expression above to extract the coordinates.
    - Uses string manipulation functions to pull out the longitude.
    - Returns the longitude.
- Use the **Series.apply()** method to apply the function across the **Location 1** column of **hs_directory**. Assign the result to the **lon** column of **hs_directory.**
- Use the **to_numeric()** function to convert the **lat** and **lon** columns of **hs_directory** to numbers.
    - Specify the **errors="coerce"** keyword argument to handle missing values properly.
- Display the first few rows of hs_directory to verify the results.

In [0]:
# put your code here
def school_longitude(lon):
  lon = re.findall("\(.+\)", lon)
  lon = re.findall("\,(.*?)\)",lon[0])
  return lon[0]

data["hs_directory"]["lon"] = data['hs_directory']['Location 1'].apply(school_longitude)
data["hs_directory"]['lon'] = pd.to_numeric(data["hs_directory"]['lon'],errors="coerce")
data["hs_directory"]['lat'] = pd.to_numeric(data["hs_directory"]['lat'],errors="coerce")

data['hs_directory']

,dbn,school_name,borough,building_code,phone_number,fax_number,grade_span_min,grade_span_max,expgrade_span_min,expgrade_span_max,...,Location 1,Community Board,Council District,Census Tract,BIN,BBL,NTA,DBN,lat,lon
0,17K548,Brooklyn School for Music & Theatre,Brooklyn,K440,718-230-6250,718-230-6262,9.0,12,NaN,NaN,...,"883 Classon Avenue\nBrooklyn, NY 11225\n(40.67...",9.0,35.0,213.0,3029686.0,3.011870e+09,Crown Heights South ...,17K548,40.670299,-73.961648
1,09X543,High School for Violin and Dance,Bronx,X400,718-842-0687,718-589-9849,9.0,12,NaN,NaN,...,"1110 Boston Road\nBronx, NY 10456\n(40.8276026...",3.0,16.0,135.0,2004526.0,2.026340e+09,Morrisania-Melrose ...,09X543,40.827603,-73.904475
2,09X327,Comprehensive Model School Project M.S. 327,Bronx,X240,718-294-8111,718-294-8109,6.0,12,NaN,NaN,...,"1501 Jerome Avenue\nBronx, NY 10452\n(40.84241...",4.0,14.0,209.0,2008336.0,2.028590e+09,West Concourse ...,09X327,40.842414,-73.916162
3,02M280,Manhattan Early College School for Advertising,Manhattan,M520,718-935-3477,NaN,9.0,10,9.0,14.0,...,"411 Pearl Street\nNew York, NY 10038\n(40.7106...",1.0,1.0,29.0,1001388.0,1.001130e+09,Chinatown ...,02M280,40.710679,-74.000807
4,28Q680,Queens Gateway to Health Sciences Secondary Sc...,Queens,Q695,718-969-3155,718-969-3552,6.0,12,NaN,NaN,...,"160 20 Goethals Avenue\nJamaica, NY 11432\n(40...",8.0,24.0,1267.0,4539721.0,4.068580e+09,Pomonok-Flushing Heights-Hillcrest ...,28Q680,40.718810,-73.806500
5,08X348,Schuylerville Preparatory High School,Bronx,X405,718-904-4200,718-935-4209,9.0,11,9.0,12.0,...,"3000 East Tremont Avenue\nBronx, NY 10461\n(40...",10.0,13.0,194.0,2074045.0,2.053680e+09,Schuylerville-Throgs Neck-Edgewater Park ...,08X348,40.840514,-73.838121
6,14K474,PROGRESS High School for Professional Careers,Brooklyn,K450,718-387-0228,718-782-0911,9.0,12,NaN,NaN,...,"850 Grand Street\nBrooklyn, NY 11211\n(40.7119...",1.0,34.0,485.0,3325733.0,3.030160e+09,Bushwick South ...,14K474,40.711963,-73.940434
7,02M420,High School for Health Professions and Human S...,Manhattan,M475,212-780-9175,212-979-7261,9.0,12,NaN,NaN,...,"345 East 15Th Street\nNew York, NY 10003\n(40....",6.0,2.0,48.0,1020419.0,1.009220e+09,Gramercy ...,02M420,40.732485,-73.983053
8,28Q350,Jamaica Gateway to the Sciences,Queens,Q470,718-480-2689,718-480-2697,9.0,12,NaN,NaN,...,"167 01 Gothic Drive\nJamaica, NY 11432\n(40.71...",8.0,24.0,452.0,4448806.0,4.098580e+09,Briarwood-Jamaica Hills ...,28Q350,40.713577,-73.796518
9,29Q313,Benjamin Franklin High School for Finance & In...,Queens,Q490,718-935-3645,NaN,9.0,10,9.0,12.0,...,207 01 116th Avenue Cambria Heights\nNY 11411\...,13.0,27.0,53401.0,4238003.0,4.110490e+09,Cambria Heights ...,29Q313,40.697807,-73.745858
10,12X271,East Bronx Academy for the Future,Bronx,X973,718-861-8641,718-861-8634,6.0,12,NaN,NaN,...,"1716 Southern Boulevard\nBronx, NY 10460\n(40....",3.0,17.0,161.0,2010604.0,2.029830e+09,Crotona Park East ...,12X271,40.836953,-73.887962
11,02M520,Murry Bergtraum High School for Business Careers,Manhattan,M520,212-964-9610,212-732-6622,9.0,12,NaN,NaN,...,"411 Pearl Street\nNew York, NY 10038\n(40.7106...",1.0,1.0,29.0,1001388.0,1.001130e+09,Chinatown ...,02M520,40.710679,-74.000807
12,06M211,Inwood Early College for Health and Informatio...,Manhattan,M052,718-935-3660,NaN,9.0,10,9.0,14.0,...,"650 Academy Street\nNew York, NY 10002\n(40.86...",12.0,10.0,291.0,1076776.0,1.022330e+09,Marble Hill-Inwood ...,06M211,40.866046,-73.924857
13,24Q600,Queens Vocational and Technical High School,Queens,Q600,718-937-3010,718-392-8397,9.0,12,NaN,NaN,...,"37 02 47 Avenue\nLong Island City, NY 11101\n(...",2.0,26.0,189.0,4003259.0,4.002280e+09,Hunters Point-Sunnyside-West Maspeth ...,24Q600,40.742189,-73.928243
14,10X368,In-Tech Academy (M.S. / High School 368),Bronx,X368,718-432-4300,718-432-4310,6.0,12,NaN,NaN,...,"2975 Tibbett Avenue\nBronx, NY 10463\n(40.8800...",8.0,11.0,29302.0,2112838.0,2.057161e+09,Spuyten Duyvil-Kingsbridge ...,10X368,40.880050,-73.909209
15,06M348,Washington Heights Expeditionary Learning School,Manhattan,M143,212-781-0524,212-781-0742,6.0,12,NaN,12.0,...,"511 West 182Nd Street\nNew York, NY 10033\n(40...",12.0,10.0,269.0,1063703.0,1.021550e+09,Washington Heights North ...,06M348,40.848879,-73.930807
16,18K629,Cultural Academy for the Arts and Sciences,Brooklyn,K415,718-968-6630,718-968-6635,9.0,12,NaN,NaN,...,"5800 Tilden Avenue\nBrooklyn, NY 11203\n(40.64...",17.0,45.0,936.0,3104598.0,3.047420e+09,Rugby-Remsen Village ...,18K629,40.648664,-73.921899
17,03M299,"High School for Arts, Imagination and Inquiry",Manhattan,M490,212-799-4064,212-799-4171,9.0,12,NaN,NaN,...,"122 Amsterdam Avenue\nNew York, NY 10023\n(40....",7.0,6.0,151.0,1030343.0,1.011570e+09,Lincoln Square ...,03M299,40.774296,-73.984823
18,07X520,Foreign Language Academy of Global Studies,Bronx,X155,718-585-4024,718-585-4239,9.0,12,NaN,NaN,...,"470 Jackson Avenue\nBronx, NY 10455\n(40.81113...",1.0,8.0,35.0,2003910.0,2.025780e+09,Mott Haven-Port Morris ...,07X520,40.811139,-73.909787
19,08X312,Millennium Art Academy,Bronx,X450,718-824-0978,718-824-0963,9.0,12,NaN,NaN,...,"1980 Lafayette Avenue\nBronx, NY 10473\n(40.82...",9.0,18.0,16.0,2022205.0,2.036040e+09,Soundview-Castle Hill-Clason Point-Harding Par...,08X312,40.822304,-73.855961
20,08X293,Renaissance High School for Musical Theater & ...,Bronx,X405,718-430-6390,718-430-6308,9.0,12,NaN,NaN,...,"3000 East Tremont Avenue\nBronx, NY 10461\n(40...",10.0,13.0,194.0,2074045.0,2.053680e+09,Schuylerville-Throgs Neck-Edgewater Park ...,08X293,40.840514,-73.838121
21,13K419,"Science Skills Center High School for Science,...",Brooklyn,K805,718-243-9413,718-243-1016,9.0,12,NaN,NaN,...,"49 Flatbush Avenue Extension\nBrooklyn, NY 112...",2.0,33.0,15.0,3000216.0,3.001200e+09,DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hi...,13K419,40.697175,-73.984960
22,31R460,Susan E. Wagner High School,Staten Island,R460,718-698-4200,718-698-5213,9.0,12,NaN,NaN,...,1200 Manor Road Staten Island\nNY 10314\n(40.5...,2.0,50.0,181.0,5146639.0,5.009550e+09,Todt Hill-Emerson Hill-Heartland Village-Light...,31R460,40.598652,-74.123105
23,28Q328,High School for Community Leadership,Queens,Q470,718-558-9801,718-558-9807,9.0,12,NaN,NaN,...,"167 01 Gothic Drive\nJamaica, NY 11432\n(40.71...",8.0,24.0,452.0,4448806.0,4.098580e+09,Briarwood-Jamaica Hills ...,28Q328,40.713577,-73.796518
24,05M362,Columbia Secondary School,Manhattan,M125,212-666-1278,212-666-3805,6.0,12,NaN,NaN,...,"425 West 123 Street\nNew York, NY 10027\n(40.8...",9.0,7.0,20901.0,1059526.0,1.019640e+09,Morningside Heights ...,05M362,40.810918,-73.956927
25,10X243,West Bronx Academy for the Future,Bronx,X435,718-563-7139,718-563-7362,6.0,12,NaN,NaN,...,"500 East Fordham Road\nBronx, NY 10458\n(40.86...",6.0,15.0,387.0,2011810.0,2.030590e+09,Belmont ...,10X243,40.860012,-73.888230
26,03M307,"Urban Assembly School for Media Studies, The",Manhattan,M490,212-501-1110,212-580-0156,9.0,12,NaN,NaN,...,"122 Amsterdam Avenue\nNew York, NY 10023\n(40....",7.0,6.0,151.0,1030343.0,1.011570e+09,Lincoln Square ...,03M307,40.774296,-73.984823
27,20K609,Urban Assembly School for Criminal Justice,Brooklyn,K223,718-438-3893,718-438-3527,6.0,12,NaN,NaN,...,"4200 16 Avenue\nBrooklyn, NY 11204\n(40.634908...",12.0,44.0,230.0,3125676.0,3.053620e+09,Borough Park ...,20K609,40.634908,-73.981519
28,28Q284,York Early College Academy,Queens,Q008,718-262-8547,718-558-4257,6.0,12,NaN,NaN,...,"108 35 167 Street\nJamaica, NY 11433\n(40.6969...",12.0,27.0,258.0,4216655.0,4.101780e+09,South Jamaica ...,28Q284,40.696937,-73.786982
29,21K348,High School of Sports Management,Brooklyn,K400,718-333-7650,718-333-7675,9.0,12,NaN,NaN,...,"2630 Benson Avenue\nBrooklyn, NY 11214\n(40.59...",13.0,47.0,306.0,3186454.0,3.068830e+09,Gravesend ...,21K348,40.593594,-73.984729
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,24Q264,Academy of Finance and Enterprise,Queens,Q735,718-389-3623,718-389-3724,9.0,12,NaN,NaN,...,"30 20 Thomson Avenue\nLong Island City, NY 111...",2.0,26.0,179.0,4003517.0,4.002740e+09,Hunters Point-Sunnyside-West Maspeth ...,24Q264,40.745094,-73.936814
406,08X519,Felisa Rincon de Gautier Institute for Law and...,Bronx,X972,718-860-5110,718-860-5081,9.0,12,NaN,NaN,...,"1440 Story Avenue\nBronx, NY 10473\n(40.821170...",9.0,17.0,28.0,2022544.0,2.036220e+09,Soundview-Castle Hill-Clason Point-Harding Par...,08X519,40.821171,-73.881136
407,02M374,Gramercy Arts High School,Manhattan,M460,212-253-7076,212-253-8095,9.0,12,NaN,NaN,...,"40 Irving Place\nNew York, NY 10003\n(40.73551...",6.0,2.0,50.0,1017828.0,1.008720e+09,Gramercy ...,02M374,40.735519,-73.987604
408,17K533,School for Democracy and Leadership,Brooklyn,K470,718-771-4865,718-771-5847,6.0,12,NaN,NaN,...,"600 Kingston Avenue\nBrooklyn, NY 11203\n(40.6...",9.0,40.0,810.0,3107227.0,3.048110e+09,Prospect Lefferts Gardens-Wingate ...,17K533,40.659517,-73.942546
409,26Q415,Benjamin N. Cardozo High School,Queens,Q415,718-279-6500,718-631-7880,9.0,12,NaN,NaN,...,57 00 223Rd Street Oakland Gardens\nNY 11364\n...,11.0,23.0,138501.0,4161735.0,4.075290e+09,Oakland Gardens ...,26Q415,40.752392,-73.756083
410,31R455,Tottenville High School,Staten Island,R455,718-668-8800,718-317-0962,9.0,12,NaN,NaN,...,100 Luten Avenue Staten Island\nNY 10312\n(40....,3.0,51.0,198.0,5082634.0,5.066130e+09,Annadale-Huguenot-Prince's Bay-Eltingville ...,31R455,40.528229,-74.192154
411,25Q263,Flushing International High School,Queens,Q189,718-463-2348,718-463-3514,9.0,12,NaN,NaN,...,"144 80 Barclay Avenue\nFlushing, NY 11355\n(40...",7.0,20.0,863.0,4114763.0,4.050510e+09,Murray Hill ...,25Q263,40.760414,-73.818376
412,02M449,Vanguard High School,Manhattan,M480,212-517-5175,212-517-5334,9.0,12,NaN,NaN,...,"317 East 67 Street\nNew York, NY 10065\n(40.76...",8.0,5.0,118.0,1083343.0,1.014420e+09,Lenox Hill-Roosevelt Island ...,02M449,40.765445,-73.960214
413,32K552,Academy of Urban Planning,Brooklyn,K480,718-381-7100,718-418-0314,9.0,12,NaN,NaN,...,"400 Irving Avenue\nBrooklyn, NY 11237\n(40.696...",4.0,37.0,435.0,3076908.0,3.033650e+09,Bushwick North ...,32K552,40.696962,-73.910816
414,06M468,High School for Health Careers and Sciences,Manhattan,M465,212-927-1841,212-927-2179,9.0,12,NaN,NaN,...,"549 Audubon Avenue\nNew York, NY 10040\n(40.85...",12.0,10.0,277.0,1076751.0,1.021600e+09,Washington Heights North ...,06M468,40.855938,-73.927030
415,30Q580,Baccalaureate School for Global Education,Queens,Q798,718-361-5275,718-361-5395,7.0,12,NaN,NaN,...,"34 12 36 Avenue\nAstoria, NY 11106\n(40.755174...",1.0,26.0,55.0,4009499.0,4.006340e+09,Queensbridge-Ravenswood-Long Island City ...,30Q580,40.755175,-73.926824
416,12X684,Wings Academy,Bronx,X879,718-597-1751,718-931-8366,9.0,12,NaN,NaN,...,"1122 East 180 Street\nBronx, NY 10460\n(40.841...",6.0,15.0,220.0,2042451.0,2.040060e+09,East Tremont ...,12X684,40.841805,-73.875418
417,22K405,Midwood High School,Brooklyn,K405,718-724-8500,718-724-8515,9.0,12,NaN,NaN,...,"2839 Bedford Avenue\nBrooklyn, NY 11210\n(40.6...",14.0,45.0,772.0,3205788.0,3.075530e+09,Flatbush ...,22K405,40.633335,-73.952916
418,25Q670,Robert F. Kennedy Community High School,Queens,Q707,718-969-5510,718-969-5524,9.0,12,NaN,NaN,...,75 40 Parsons Boulevard Fresh Meadows\nNY 1136...,8.0,24.0,77908.0,4147452.0,4.068090e+09,Kew Gardens Hills ...,25Q670,40.725603,-73.810721
419,19K618,Academy of Innovative Technology,Brooklyn,K420,718-827-2469,718-827-4013,9.0,12,NaN,NaN,...,"999 Jamaica Avenue\nBrooklyn, NY 11208\n(40.69...",5.0,37.0,1180.0,3090738.0,3.040940e+09,park-cemetery-etc-Brooklyn ...,19K618,40.691144,-73.868426
420,02M298,Pace High School,Manhattan,M131,212-334-4663,212-334-4919,9.0,12,NaN,NaN,...,"100 Hester Street\nNew York, NY 10002\n(40.716...",3.0,1.0,16.0,1082489.0,1.003010e+09,Chinatown ...,02M298,40.716412,-73.992676
421,08X376,Antonia Pantoja Preparatory Academy: A College...,Bronx,X450,718-824-3152,718-824-3543,6.0,12,NaN,NaN,...,"1980 Lafayette Avenue\nBronx, NY 10473\n(40.82...",9.0,18.0,16.0,2022205.0,2.036040e+09,Soundview-Castle Hill-Clason Point-Harding Par...,08X376,40.822304,-73.855961
422,02M500,Unity Center for Urban Technologies,Manhattan,M620,212-576-0530,212-576-0562,9.0,12,NaN,NaN,...,"111 East 33Rd Street\nNew York, NY 10016\n(40....",5.0,2.0,72.0,1087537.0,1.008898e+09,Murray Hill-Kips Bay ...,02M500,40.746106,-73.981010
423,02M507,Urban Assembly Gateway School for Technology,Manhattan,M625,212-246-1041,212-246-2654,9.0,12,NaN,NaN,...,"439 West 49Th Street\nNew York, NY 10019\n(40....",4.0,3.0,127.0,1026646.0,1.010590e+09,Clinton ...,02M507,40.763362,-73.990509
424,27Q323,Scholars' Academy,Queens,Q180,718-474-6918,718-945-8958,6.0,12,NaN,NaN,...,320 Beach 104Th Street Rockaway Park\nNY 11694...,14.0,32.0,938.0,4303722.0,4.161590e+09,Breezy Point-Belle Harbor-Rockaway Park-Broad ...,27Q323,40.584131,-73.825681
425,17K408,Academy of Hospitality and Tourism,Brooklyn,K465,718-564-2580,718-564-2581,9.0,12,NaN,NaN,...,"911 Flatbush Avenue\nBrooklyn, NY 11226\n(40.6...",14.0,40.0,794.0,3336215.0,3.051030e+09,Erasmus ...,17K408,40.649440,-73.958431
426,12X278,Peace and Diversity Academy,Bronx,X099,718-991-1855,718-991-2998,9.0,12,NaN,NaN,...,"1180 Rev J A Polite Ave\nBronx, NY 10459\n(40....",2.0,17.0,131.0,2005276.0,2.026920e+09,Longwood ...,12X278,40.825226,-73.893950
427,14K558,Williamsburg High School for Architecture and ...,Brooklyn,K650,718-388-1260,718-486-2580,9.0,12,NaN,NaN,...,"257 North 6 Street\nBrooklyn, NY 11211\n(40.71...",1.0,33.0,519.0,3062135.0,3.023300e+09,North Side-South Side ...,14K558,40.715038,-73.954650
428,02M288,Food and Finance High School,Manhattan,M535,212-586-2943,212-586-4205,9.0,12,NaN,NaN,...,"525 West 50Th Street\nNew York, NY 10019\n(40....",4.0,3.0,135.0,1083802.0,1.010790e+09,Clinton ...,02M288,40.765027,-73.992517
429,21K468,Kingsborough Early College School,Brooklyn,K400,718-333-7850,718-333-7875,6.0,12,NaN,NaN,...,"2630 Benson Avenue\nBrooklyn, NY 11214\n(40.59...",13.0,47.0,306.0,3186454.0,3.068830e+09,Gravesend ...,21K468,40.593594,-73.984729
430,10X225,Theatre Arts Production Company School,Bronx,X137,718-584-0832,718-584-5102,6.0,12,NaN,NaN,...,"2225 Webster Avenue\nBronx, NY 10457\n(40.8546...",5.0,15.0,379.0,2013307.0,2.031430e+09,Mount Hope ...,10X225,40.854647,-73.896646
431,11X508,Bronxdale High School,Bronx,X415,718-944-3655,718-944-3662,9.0,12,NaN,NaN,...,"925 Astor Avenue\nBronx, NY 10469\n(40.8596983...",11.0,13.0,324.0,2050179.0,2.043580e+09,Bronxdale ...,11X508,40.859698,-73.860741
432,11X253,Bronx High School for Writing and Communicatio...,Bronx,X425,718-944-5660,718-944-5690,9.0,12,NaN,NaN,...,"800 East Gun Hill Road\nBronx, NY 10467\n(40.8...",12.0,12.0,372.0,2057045.0,2.046330e+09,Williamsbridge-Olinville ...,11X253,40.875754,-73.861388
433,02M316,Urban Assembly School of Business for Young Wo...,Manhattan,M282,212-668-0169,212-668-0635,9.0,12,NaN,NaN,...,"26 Broadway\nNew York, NY 10004\n(40.705234939...",1.0,1.0,9.0,1000811.0,1.000220e+09,Battery Park City-Lower Manhattan ...,02M316,40.705235,-74.013315
434,25Q525,Townsend Harris High School,Queens,Q515,718-575-5580,718-575-1366,9.0,12,NaN,NaN,...,"149 11 Melbourne Avenue\nFlushing, NY 11367\n(...",8.0,24.0,809.0,4538714.0,4.065070e+09,Kew Gardens Hills ...,25Q525,40.734408,-73.821417

In [0]:
data

{'ap_2010':         DBN                                         SchoolName  \
 0    01M448                       UNIVERSITY NEIGHBORHOOD H.S.
 1    01M450                             EAST SIDE COMMUNITY HS
 2    01M515                                LOWER EASTSIDE PREP
 3    01M539                     NEW EXPLORATIONS SCI,TECH,MATH
 4    02M296              High School of Hospitality Management
 5    02M298                                   Pace High School
 6    02M300  Urban Assembly School of Design and Construction,
 7    02M303                         Facing History School, The
 8    02M305  Urban Assembly Academy of Government and Law, The
 9    02M308                       Lower Manhattan Arts Academy
 10   02M400                       HS FOR ENVIRONMENTAL STUDIES
 11   02M408                       PROFESSIONAL PERFORMING ARTS
 12   02M411                           BARUCH COLLEGE CAMPUS HS
 13   02M412                       NYC LAB HS FOR COLL. STUDIES
 14   02M413                               SCHOOL OF THE FUTURE
 15   02M414                                  NYC MUSEUM SCHOOL
 16   02M416                      Eleanor Roosevelt High School
 17   02M418                             Millennium High School
 18   02M420                           HEALTH PROF & HUMAN SVCS
 19   02M425                        H S FOR LEADERSHIP & PUBLIC
 20   02M429                                      LEGACY SCHOOL
 21   02M439                       MANHATTAN VILLAGE ACADEMY HS
 22   02M440                                  HS FOR HUMANITIES
 23   02M459                        CES-MANHATTAN INTERNATIONAL
 24   02M460                               WASHINGTON IRVING HS
 25   02M475                                      STUYVESANT HS
 26   02M489                          HS OF ECONOMICS & FINANCE
 27   02M519                                   TALENT UNLIMITED
 28   02M520                               MURRY BERGTRAUM H.S.
 29   02M529                           JACQUELINE K. ONASSIS HS
 ..      ...                                                ...
 228  28Q620                                  THOS A EDISON VHS
 229  28Q680                         GATEWAY TO HEALTH SCIENCES
 230  28Q687                Queens HS for Science York Colllege
 231  28Q690  High School for Law Enforcement and Public Safety
 232  28Q896           Young  Women's Leadership School, Queens
 233  29Q248                         Queens Preparatory Academy
 234  29Q259  Pathways College Preparatory School: A College...
 235  29Q272  George Washington Carver High School for the S...
 236  29Q283                    Preparatory Academy for Writers
 237  29Q420                             SPRINGFIELD GARDENS HS
 238  29Q492                     MATH/SCIENCE RESEARCH TECH CTR
 239  29Q496                     BUSINESS/COMPUTER APPLICATIONS
 240  30Q445                                WM CULLEN BRYANT HS
 241  30Q450                                LONG ISLAND CITY HS
 242  30Q501                          FRANK SINATRA HIGH SCHOOL
 243  30Q502                          INFORMATION TECHNOLOGY HS
 244  30Q555                         NEWCOMERS HS:ACAD AMER STD
 245  30Q575                        ACADEMY OF AMER. STUDIES HS
 246  31R080                         PS 080 MICHAEL J. PETRIDES
 247  31R440                                        NEW DORP HS
 248  31R445                                   PORT RICHMOND HS
 249  31R450                                          CURTIS HS
 250  31R455                                     TOTTENVILLE HS
 251  31R460                                 SUSAN E. WAGNER HS
 252  31R600                                    RAPLH MCKEE VHS
 253  31R605                         STATEN ISLAND TECHNICAL HS
 254  32K545                      EBC-HS FOR PUB SERVICE (BUSH)
 255  32K552                          Academy of Urban Planning
 256  32K554               All City Leadership Secondary School
 257  32K556  Bushwick Leaders High School for Academic Exce...

     AP Test Takers  Total Exams Taken Number of Exams with scores 3 4 or 5
 0                39                49                                   10
 1                19                21                                    s
 2                24                26                                   24
 3               255               377                                  191
 4                 s                 s                                    s
 5                21                21                                    s
 6                99               117                                   10
 7                42                44                                    s
 8                25                37                                   15
 9                 s                 s                                    s
 10              213               298                                  152
 11               20                20                                   15
 12               78               115                                   88
 13              114               140                                   97
 14               11                11                                    s
 15                s                 s                                    s
 16              155               235                                  169
 17               86                95                                   67
 18              204               248                                   75
 19               70                84                                   32
 20               22                26                                    s
 21               42                69                                   29
 22                6                 6                                    s
 23               12                12                                    6
 24               69                83                                   21
 25             1510              2819                                 2648
 26              101               176                                   78
 27               30                34                                   21
 28              118               157                                   76
 29               80               118                                   29
 ..              ...               ...                                  ...
 228             183               244                                  100
 229              89               136                                   57
 230             215               338                                  275
 231              19                19                                    s
 232               6                 6                                    s
 233              15                15                                    s
 234              29                71                                    s
 235              14                21                                    s
 236              40                43                                    s
 237               s                 s                                    s
 238              22                31                                    8
 239               s                 s                                    s
 240             243               330                                   97
 241             406               805                                  169
 242             108               136                                   38
 243              51                74                                   13
 244             119               163                                  140
 245             101               170                                  119
 246             162               243                                   66
 247              96               118                                   62
 248             194               304                                   76
 249             247               295                                   90
 250             396               687                                  206
 251             279               408                                  175
 252               s                 s                                    s
 253             528               905                                  809
 254              47                64                                   13
 255              76               100                                   10
 256               7                 8                                    s
 257              34                35                                   18

 [258 rows x 5 columns], 'class_size':        CSD BOROUGH SCHOOL CODE  \
 0        1       M        M015
 1        1       M        M015
 2        1       M        M015
 3        1       M        M015
 4        1       M        M015
 5        1       M        M015
 6        1       M        M015
 7        1       M        M015
 8        1       M        M015
 9        1       M        M015
 10       1       M        M015
 11       1       M        M015
 12       1       M        M019
 13       1       M        M019
 14       1       M        M019
 15       1       M        M019
 16       1       M        M019
 17       1       M        M019
 18       1       M        M019
 19       1       M        M019
 20       1       M        M019
 21       1       M        M019
 22       1       M        M019
 23       1       M        M019
 24       1       M        M019
 25       1       M        M020
 26       1       M        M020
 27       1       M        M020
 28       1       M        M020
 29       1       M        M020
 ...    ...     ...         ...
 27581   32       K        K556
 27582   32       K        K556
 27583   32       K        K556
 27584   32       K        K556
 27585   32       K        K556
 27586   32       K        K556
 27587   32       K        K556
 27588   32       K        K556
 27589   32       K        K556
 27590   32       K        K556
 27591   32       K        K556
 27592   32       K        K556
 27593   32       K        K556
 27594   32       K        K556
 27595   32       K        K564
 27596   32       K        K564
 27597   32       K        K564
 27598   32       K        K564
 27599   32       K        K564
 27600   32       K        K564
 27601   32       K        K564
 27602   32       K        K564
 27603   32       K        K564
 27604   32       K        K564
 27605   32       K        K564
 27606   32       K        K564
 27607   32       K        K564
 27608   32       K        K564
 27609   32       K        K564
 27610   32       K        K564

                                              SCHOOL NAME GRADE  PROGRAM TYPE  \
 0                              P.S. 015 Roberto Clemente     0K       GEN ED
 1                              P.S. 015 Roberto Clemente     0K          CTT
 2                              P.S. 015 Roberto Clemente     01       GEN ED
 3                              P.S. 015 Roberto Clemente     01          CTT
 4                              P.S. 015 Roberto Clemente     02       GEN ED
 5                              P.S. 015 Roberto Clemente     02          CTT
 6                              P.S. 015 Roberto Clemente     03       GEN ED
 7                              P.S. 015 Roberto Clemente     03          CTT
 8                              P.S. 015 Roberto Clemente     04       GEN ED
 9                              P.S. 015 Roberto Clemente     05       GEN ED
 10                             P.S. 015 Roberto Clemente  0K-09      SPEC ED
 11                             P.S. 015 Roberto Clemente    NaN          NaN
 12                                   P.S. 019 Asher Levy     0K       GEN ED
 13                                   P.S. 019 Asher Levy     0K          CTT
 14                                   P.S. 019 Asher Levy     01       GEN ED
 15                                   P.S. 019 Asher Levy     01          CTT
 16                                   P.S. 019 Asher Levy     02       GEN ED
 17                                   P.S. 019 Asher Levy     03       GEN ED
 18                                   P.S. 019 Asher Levy     04       GEN ED
 19                                   P.S. 019 Asher Levy     04          CTT
 20                                   P.S. 019 Asher Levy     05       GEN ED
 21                                   P.S. 019 Asher Levy     05          CTT
 22                                   P.S. 019 Asher Levy  0K-09      SPEC ED
 23                                   P.S. 019 Asher Levy  0K-09      SPEC ED
 24                                   P.S. 019 Asher Levy    NaN          NaN
 25                                  P.S. 020 Anna Silver     0K       GEN ED
 26                                  P.S. 020 Anna Silver     0K          CTT
 27                                  P.S. 020 Anna Silver     01       GEN ED
 28                                  P.S. 020 Anna Silver     01          CTT
 29                                  P.S. 020 Anna Silver     02       GEN ED
 ...                                                  ...    ...          ...
 27581  Bushwick Leaders High School for Academic Exce...  09-12       GEN ED
 27582  Bushwick Leaders High School for Academic Exce...  09-12       GEN ED
 27583  Bushwick Leaders High School for Academic Exce...  09-12       GEN ED
 27584  Bushwick Leaders High School for Academic Exce...  09-12       GEN ED
 27585  Bushwick Leaders High School for Academic Exce...  09-12       GEN ED
 27586  Bushwick Leaders High School for Academic Exce...  09-12      SPEC ED
 27587  Bushwick Leaders High School for Academic Exce...  09-12      SPEC ED
 27588  Bushwick Leaders High School for Academic Exce...  09-12      SPEC ED
 27589  Bushwick Leaders High School for Academic Exce...  09-12      SPEC ED
 27590  Bushwick Leaders High School for Academic Exce...  09-12      SPEC ED
 27591  Bushwick Leaders High School for Academic Exce...  09-12      SPEC ED
 27592  Bushwick Leaders High School for Academic Exce...  09-12      SPEC ED
 27593  Bushwick Leaders High School for Academic Exce...  09-12      SPEC ED
 27594  Bushwick Leaders High School for Academic Exce...    NaN          NaN
 27595                     Bushwick Community High School  09-12       GEN ED
 27596                     Bushwick Community High School  09-12       GEN ED
 27597                     Bushwick Community High School  09-12       GEN ED
 27598                     Bushwick Community High School  09-12       GEN ED
 27599                     Bushwick Community High School  09-12       GEN ED
 27600                     Bushwick Community High School  09-12       GEN ED
 27601                     Bushwick Community High School  09-12       GEN ED
 27602                     Bushwick Community High School  09-12       GEN ED
 27603                     Bushwick Community High School  09-12       GEN ED
 27604                     Bushwick Community High School  09-12       GEN ED
 27605                     Bushwick Community High School  09-12       GEN ED
 27606                     Bushwick Community High School  09-12       GEN ED
 27607                     Bushwick Community High School  09-12       GEN ED
 27608                     Bushwick Community High School  09-12       GEN ED
 27609                     Bushwick Community High School  09-12          CTT
 27610                     Bushwick Community High School    NaN          NaN

       CORE SUBJECT (MS CORE and 9-12 ONLY)  \
 0                                        -
 1                                        -
 2                                        -
 3                                        -
 4                                        -
 5                                        -
 6                                        -
 7                                        -
 8                                        -
 9                                        -
 10                                       -
 11                                     NaN
 12                                       -
 13                                       -
 14                                       -
 15                                       -
 16                                       -
 17                                       -
 18                                       -
 19                                       -
 20                                       -
 21                                       -
 22                                       -
 23                                       -
 24                                     NaN
 25                                       -
 26                                       -
 27                                       -
 28                                       -
 29                                       -
 ...                                    ...
 27581                              SCIENCE
 27582                       SOCIAL STUDIES
 27583                       SOCIAL STUDIES
 27584                       SOCIAL STUDIES
 27585                       SOCIAL STUDIES
 27586                              ENGLISH
 27587                              ENGLISH
 27588                              ENGLISH
 27589                                 MATH
 27590                              SCIENCE
 27591                              SCIENCE
 27592                              SCIENCE
 27593                       SOCIAL STUDIES
 27594                                  NaN
 27595                              ENGLISH
 27596                              ENGLISH
 27597                              ENGLISH
 27598                              ENGLISH
 27599                                 MATH
 27600                                 MATH
 27601                              SCIENCE
 27602                              SCIENCE
 27603                              SCIENCE
 27604                              SCIENCE
 27605                       SOCIAL STUDIES
 27606                       SOCIAL STUDIES
 27607                       SOCIAL STUDIES
 27608                       SOCIAL STUDIES
 27609                                 MATH
 27610                                  NaN

       CORE COURSE (MS CORE and 9-12 ONLY) SERVICE CATEGORY(K-9* ONLY)  \
 0                                       -                           -
 1                                       -                           -
 2                                       -                           -
 3                                       -                           -
 4                                       -                           -
 5                                       -                           -
 6                                       -                           -
 7                                       -                           -
 8                                       -                           -
 9                                       -                           -
 10                                      -                      12:1:1
 11                                    NaN                         NaN
 12                                      -                           -
 13                                      -                           -
 14                                      -                           -
 15                                      -                           -
 16                                      -                           -
 17                                      -                           -
 18                                      -                           -
 19                                      -                           -
 20                                      -                           -
 21                                      -                           -

## 1.15 Next Steps

We're almost ready to combine our data sets! We've come a long way in this mission -- we've gone from choosing a topic for a project to acquiring the data to having clean data that we're almost ready to combine.

Along the way, we've learned how to:

- Handle files with different formats and columns
- Prepare to merge multiple files
- Use text processing to extract coordinates from a string
- Convert columns from strings to numbers

You'll always learn something new while working on a real-world data science project. Each project is unique, and there will always be quirks you don't quite know how to handle. The key is to be willing to try different approaches, and to have a general framework in your head for how to move from Step A to Step B.

In the next section,  we'll finish cleaning the data sets, then combine them so we can start our analysis.